@model TMNT.Models.ViewModels.BalanceCreateViewModel

@{
    ViewBag.Title = "Create";
}

@section AddToHead {
    @Styles.Render("~/maxxam-forms")
    <style>
        .form-group {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        /* Summary */
        .height {
            min-height: 240px;
        }

        .iconbig {
            font-size: 77px;
            color: #5CB85C;
        }

        .uppercase {
            text-transform:uppercase;
        }

        .font-fourteen {
            font-size:14px;
        }
    </style>
}

@using (Html.BeginForm("Create", "Balance", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    New Balance
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-balance-scale"></i> New Balance
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "Balance", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li class="section-list"><a href="#section-bar-1" class="icon icon-config"><span>Balance Info</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-display"><span>Finalize</span></a></li>
                    </ul>
                </nav>

                <div class="content-wrap">
                    <section id="section-bar-1" class="section">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-12">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.DeviceCode, new { htmlAttributes = new { @placeholder = "Device Code", @class = "input-summary-pt1 form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DeviceCode)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="location-names" name="LocationName" class="form-control no-border-radius required-field">
                                            <option value="">Locations..</option>
                                            @foreach (var item in Model.LocationNames) {
                                                <option value="@item">
                                                    @item
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.LocationName)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="department-names" disabled="disabled" name="DepartmentName" class="form-control no-border-radius required-field">
                                            <option value="">Departments..</option>
                                            @foreach (var item in Model.Departments) {
                                                <option value="@item.DepartmentName">
                                                    @item.DepartmentName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DepartmentName)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="SubDepartmentName" disabled="disabled" name="SubDepartmentName" class="form-control no-border-radius required-field">
                                            <option value="">Sub Departments..</option>
                                            <optgroup class="hide opt-organics" label="Organics Sub Departments">
                                                @foreach (var item in Model.SubDepartments) {
                                                    if (item.DepartmentName.Equals("Organics")) {
                                                        <option value="@item.SubDepartment">
                                                            @item.SubDepartment
                                                        </option>
                                                    }
                                                }
                                            </optgroup>
                                            <optgroup class="hide opt-inorganics" label="Inorganics Sub Departments">
                                                @foreach (var item in Model.SubDepartments) {
                                                    if (item.DepartmentName.Equals("Inorganics")) {
                                                        <option value="@item.SubDepartment">
                                                            @item.SubDepartment
                                                        </option>
                                                    }
                                                }
                                            </optgroup>
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.SubDepartmentName)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="balance-types" name="BalanceType" class="form-control no-border-radius required-field input-summary-pt1">
                                            <option value="">Balance Types..</option>
                                            @foreach (var item in Model.BalanceTypes) {
                                                <option value="@item">
                                                    @item
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.BalanceType)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.NumberOfDecimals, new { htmlAttributes = new { @placeholder = "Number of Decimals", @class = "input-summary-pt1 form-control required-field no-border-radius", @Value = "", @min = 1, @max = 10 } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NumberOfDecimals)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="radio-inline input-summary-pt2"><input type="radio" name="NumberOfTestsToVerify" value="2" checked="checked">Two Verifications</label>
                                        <label class="radio-inline input-summary-pt2"><input type="radio" name="NumberOfTestsToVerify" value="3">Three Verifications</label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NumberOfTestsToVerify)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.WeightLimitOne, new { htmlAttributes = new { @placeholder = "First Weight Limit", @class = "input-summary-pt2 form-control required-field no-border-radius", @Value = "", @min = 0.01 } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.WeightLimitOne)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.WeightLimitTwo, new { htmlAttributes = new { @placeholder = "Second Weight Limit", @class = "input-summary-pt2 form-control required-field no-border-radius", @Value = "", @min = 0.01 } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.WeightLimitTwo)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon" title="Required Field"></div>
                                        @Html.EditorFor(model => model.WeightLimitThree, new { htmlAttributes = new { @placeholder = "Third Weight Limit", @disabled = "disabled", @class = "input-summary-pt2 form-control no-border-radius", @Value = "", @min = 0.01 } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.WeightLimitThree)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12" id="reagent-next-fix">
                                    <a id="btn-create-balance" href='#section-bar-2' disabled="disabled" class="btn btn-default next-section btn-next">Next »</a>
                                </div>
                                <div class="col-xs-12 pull-right">
                                    <div id="button-message" class="pull-right button-message-error">Fill out required fields.</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-2">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <i class="fa fa-search-plus pull-left icon"></i>
                                    <h2>Summary</h2>
                                    <hr>
                                    <div class="row font-fourteen">
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="panel panel-default height no-border-radius">
                                                <div class="panel-heading uppercase uppercase">Department Details</div>
                                                <div class="panel-body">
                                                    <dl>
                                                        <dt>Department: </dt>
                                                        <dd id="summary-department-name"></dd>
                                                        <dt>Sub Department: </dt>
                                                        <dd id="summary-sub-department"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="panel panel-default height no-border-radius">
                                                <div class="panel-heading uppercase">Location Details</div>
                                                <div class="panel-body">
                                                    <dl>
                                                        <dt>Location: </dt>
                                                        <dd id="summary-location-name"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-xs-12 col-md-3 col-lg-3">
                                            <div class="panel panel-default height no-border-radius">
                                                <div class="panel-heading uppercase">File Upload Details</div>
                                                <div class="panel-body">
                                                    <dl>
                                                        <dt>Certificate of Analysis File: </dt>
                                                        <dd id="summary-cofa"></dd>
                                                        <dt>Safety Data Sheet File: </dt>
                                                        <dd id="summary-msds"></dd>
                                                        <dt>Safety Notes: </dt>
                                                        <dd id="summary-safety-notes"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3 col-lg-3">
                                            <div class="panel panel-default height no-border-radius">
                                                <div class="panel-heading uppercase">Device Details</div>
                                                <div class="panel-body">
                                                    <dl id="summary-devices"></dl>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row font-fourteen">
                                <div class="col-md-12">
                                    <div class="panel panel-default no-border-radius">
                                        <div class="panel-heading">
                                            <h3 class="text-center uppercase"><strong>Balance Details</strong></h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-xs-12 col-md-6 col-lg-6">
                                                <dl id="summary-info-pt1" class="dl-horizontal"></dl>
                                            </div>
                                            <div class="col-xs-12 col-md-6 col-lg-6">
                                                <dl id="summary-info-pt2" class="dl-horizontal"></dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="button" href='#section-bar-2' class="btn btn-warning previous-section" value="Cancel" />
                                <input name="submit" type="submit" class="btn btn-primary" value="Save" />
                                <input name="submit" type="submit" class="btn btn-primary" value="Save & New" />
                            </div>
                        </div>

                        @*<div class="form-group">
                            <div class="container">
                                <table class="table table-bordered table-striped summary-table">
                                    <thead>
                                        <tr>
                                            <th>Field</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size:14px;"></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="button" href='#section-bar-2' value="Cancel" class="btn btn-warning previous-section" />
                                    <input name="submit" type="submit" class="btn btn-primary" value="Save" />
                                    <input name="submit" type="submit" class="btn btn-primary" value="Save & New" />
                                </div>
                            </div>
                        </div>*@
                    </section>
                </div>
            </div>
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            var locationNames = $('#location-names'), departmentNames = $('#department-names'), subDepartmentNames = $('#SubDepartmentName'),
               optOrganics = $('.opt-organics'), optInorganics = $('.opt-inorganics'),
               rdoGroup = $('input[name=NumberOfTestsToVerify]:radio'),
               weightThreeLimit = $('#WeightLimitThree');

            rdoGroup.on('click', function () {
                if ($(this).val() === "2") {
                    weightThreeLimit.attr("disabled", "disabled");
                } else {
                    weightThreeLimit.removeAttr("disabled");
                    weightThreeLimit.val("");
                }
            });

            locationNames.on('change', function () {
                if ($(this).val()) {
                    if (departmentNames.attr("disabled", "disabled")) {
                        departmentNames.removeAttr("disabled");
                    }
                } else {
                    if (!subDepartmentNames.attr("disabled", "disabled")) {
                        subDepartmentNames.attr("disabled", "disabled")
                    }
                    departmentNames.attr("disabled", "disabled");
                }
            });

            departmentNames.on('change', function () {
                var deptValues = $(this).val();

                if ($(this).val()) {
                    //reset
                    subDepartmentNames.val("");
                    switch (deptValues) {
                        case "Organics":
                            optOrganics.removeClass("hide");
                            if (!optInorganics.hasClass('hide')) { optInorganics.addClass('hide'); }
                            break;
                        case "Inorganics":
                            optInorganics.removeClass("hide");
                            if (!optOrganics.hasClass('hide')) { optOrganics.addClass('hide'); }
                            break;
                        default:
                            alert("Something went wrong. Refresh the page and try again. If the problem persists, contact your administrator.");
                            break;
                    }

                    if (subDepartmentNames.attr("disabled", "disabled")) {
                        subDepartmentNames.removeAttr("disabled");
                    } else {
                        subDepartmentNames.attr("disabled", "disabled");
                    }
                } else {
                    if (!subDepartmentNames.attr("disabled", "disabled")) {
                        subDepartmentNames.attr("disabled", "disabled");
                        subDepartmentNames.val("");
                    }
                }
            });
        });
    </script>
}