@model TMNT.Models.ViewModels.BalanceCreateViewModel

@{
    ViewBag.Title = "Create";
}

@section AddToHead {
    @Styles.Render("~/maxxam-forms")
}

@using (Html.BeginForm("Create", "Balance", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    New Balance
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> New Balance
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "Balance", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li class="section-list"><a href="#section-bar-1" class="icon icon-config"><span>Balance Info</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-display"><span>Finalize</span></a></li>
                    </ul>
                </nav>
                @Html.ValidationSummary(true)
                <div class="content-wrap">
                    <section id="section-bar-1" class="section">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-12">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.DeviceCode, new { htmlAttributes = new { @placeholder = "Device Code", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DeviceCode)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="storage-locations" name="LocationName" class="form-control no-border-radius required-field input-summary">
                                            <option value="">Locations..</option>
                                                @foreach (var item in Model.LocationNames) {
                                                    <option value="@item">
                                                        @item
                                                    </option>
                                                }
                                        </select>
                                        @Html.ValidationMessageFor(model => model.LocationName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="storage-locations" name="DepartmentName" class="form-control no-border-radius required-field input-summary">
                                            <option value="">Departments..</option>
                                            @foreach (var item in Model.DepartmentNames) {
                                                <option value="@item">
                                                    @item
                                                </option>
                                            }
                                        </select>
                                        @Html.ValidationMessageFor(model => model.DepartmentName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="storage-locations" name="SubDepartment" class="form-control no-border-radius required-field input-summary">
                                            <option value="">Sub Departments..</option>
                                            @foreach (var item in Model.SubDepartmentNames) {
                                                <option value="@item">
                                                    @item
                                                </option>
                                            }
                                        </select>
                                        @Html.ValidationMessageFor(model => model.SubDepartment)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12" id="reagent-next-fix">
                                        <a href='#section-bar-2' disabled="disabled" class="btn btn-default next-section btn-next">Next »</a>
                                    </div>
                                    <div class="col-xs-12 pull-right">
                                        <div id="button-message" class="pull-right button-message-error">Fill out required fields.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <section id="section-bar-2">

                    </section>
                </div>
            </div>
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}