@model TMNT.Models.ViewModels.BalanceDetailsViewModel
@{
    ViewBag.Title = "Details";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            @Model.DeviceCode Balance Details
        </h1>
        <ol class="breadcrumb no-border-radius">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-wrench"></i> Devices / <i class="fa fa-balance-scale"></i> Balances / <i class="fa fa-clipboard"></i> @Model.DeviceCode Balance Details
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Balance", null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Edit " + Model.DeviceCode, "Edit", new { id = Model.BalanceId }, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

@Html.Partial("_SectionHeader", "Location Information")

<div class="container">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location.LocationName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location.Address), @Html.DisplayFor(model => model.Location.PostalCode) <br />
                @Html.DisplayFor(model => model.Location.City), @Html.DisplayFor(model => model.Location.Province)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location.PhoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location.FaxNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location.FaxNumber)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department.SubDepartment)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.SubDepartment)
            </dd>
        </dl>
    </div>
</div>

@Html.Partial("_SectionHeader", "Balance Information")

<div class="container">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DeviceCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeviceCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsVerified)
            </dt>

            @if (!Model.IsVerified) {
                <dd>
                    Not Verified
                    <span class="fa fa-times-circle text-danger"></span>
                </dd>
            } else {
                <dd>
                    Verified
                    <span class="fa fa-check-circle text-success"></span>
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LastVerified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastVerified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastVerifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastVerifiedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfDecimals)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfDecimals)
            </dd>
        </dl>
    </div>
</div>

@Html.Partial("_SectionHeader", @Model.DeviceCode + " Balance Verification History")

<div class="container">
    <table id="myTable" class="table table-striped table-bordered table-balance-details">
        <thead>
            <tr>
                <th>Verified By</th>
                <th>Verified On</th>
                <th>Weight One</th>
                <th>Weight Two</th>
                <th>Weight Three</th>
                <th>Test Result</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DeviceVerifications != null) {
                foreach (var item in Model.DeviceVerifications) {
                    <tr>
                        <td>@item.User.UserName</td>
                        <td>@item.VerifiedOn</td>
                        <td>@item.WeightOne</td>
                        @if (item.WeightTwo == null) {
                            <td>N/A</td>
                        } else {
                            <td>@item.WeightTwo</td>
                        }
                        @if (item.WeightThree == null) {
                            <td>N/A</td>
                        } else {
                            <td>@item.WeightThree</td>
                        }
                        @if (item.DidTestPass) {
                            <td class="text-success">Pass</td>
                        } else {
                            <td class="text-danger">Fail</td>
                        }
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Verified By</th>
                <th>Verified On</th>
                <th>Weight One</th>
                <th>Weight Two</th>
                <th>Weight Three</th>
                <th>Test Result</th>
            </tr>
        </tfoot>
    </table>
</div>

@Scripts.Render("~/datatables")