@model IEnumerable<TMNT.Models.Device>

    @{
        ViewBag.Title = "Index";
    }

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Balances
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Balances
                </li>
            </ol>
        </div>
    </div>

    <p>
        @Html.ActionLink("New Balance Verification", "VerificationUnspecified", "Balance", htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Add New Balance", "Create", "Balance", htmlAttributes: new { @class = "btn btn-default" })
    </p>

    <hr />

    <table class="table table-bordered table-striped">
        <tr>
            <th>Action</th>
            <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
            <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
            <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
            <th>@Html.DisplayNameFor(model => model.LastVerifiedBy)</th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                @if (!@item.IsVerified) {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DeviceId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DeviceId }) |
                        @Html.ActionLink("Archive", "Delete", new { id = item.DeviceId }) |
                        @Html.ActionLink("Verify", "Verification", new { id = item.DeviceId }, htmlAttributes: new { @style = "color:red;" })
                    </td>
                } else {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DeviceId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DeviceId }) |
                        @Html.ActionLink("Archive", "Delete", new { id = item.DeviceId })
                    </td>
                }
                <td>
                    @item.DeviceCode
                </td>
                <td>
                    @item.Department.DepartmentCode
                </td>
                @if (!@item.IsVerified) {
                    <td style="color:red;">
                        Verification Required
                    </td>
                } else {
                    <td style="color:green;">
                        Verified
                    </td>
                }
                <td>
                    @item.LastVerifiedBy
                </td>
            </tr>
        }
    </table>