@model IEnumerable<TMNT.Models.ViewModels.BalanceViewModel>

@{
    ViewBag.Title = "Index";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Balances
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-wrench"></i> Devices / <i class="fa fa-balance-scale"></i> Balances
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("New Balance Verification", "VerificationUnspecified", "Balance", null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Add New Balance", "Create", "Balance", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
            <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
            <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
            <th>Last Verified By</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                @if (!@item.IsVerified) {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BalanceId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BalanceId }) |
                        @Html.ActionLink("Archive", "Delete", new { id = item.BalanceId }) |
                        @Html.ActionLink("Verify", "Verification", new { id = item.BalanceId }, htmlAttributes: new { @style = "color:red;" })
                    </td>
                } else {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BalanceId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BalanceId }) |
                        @Html.ActionLink("Archive", "Delete", new { id = item.BalanceId })
                    </td>
                }
                <td>
                    @item.DeviceCode
                </td>
                <td>
                    @item.Department.DepartmentCode
                </td>
                @if (!@item.IsVerified) {
                    <td style="color:red;">
                        Verification Required
                    </td>
                } else {
                    <td style="color:green;">
                        Verified
                    </td>
                }
                @if (@item.User == null) {
                    <td>
                        N/A
                    </td>
                } else {
                    <td>
                        @item.User.UserName
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Action</th>
            <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
            <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
            <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
            <th>Last Verified By</th>
        </tr>
    </tfoot>
</table>
@Scripts.Render("~/datatables")