@model TMNT.Models.ViewModels.StockStandardViewModel

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />

@section AddToHead {
    @Styles.Render("~/maxxam-forms")
}

@using (Html.BeginForm("Create", "Standard", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    New Stock Standard
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Standards / <i class="fa fa-star-o"></i> New Stock Standard
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "Standard", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li><a href="#section-bar-1" class="icon icon-config"><span>Standard Info</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-upload"><span>Uploads</span></a></li>
                        <li><a href="#section-bar-3" class="icon icon-display"><span>Finalize</span></a></li>
                    </ul>
                </nav>
                @Html.ValidationSummary(true)
                <div class="content-wrap">
                    <!-- STANDARD INFORMATION -->
                    <section id="section-bar-1">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.IdCode, new { htmlAttributes = new { @placeholder = "ID Code", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.IdCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.StockStandardName, new { htmlAttributes = new { @placeholder = "Standard Name", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.StockStandardName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "input-summary form-control required-field" } })
                                        <div class="input-group-addon input-group-addon-md">Expiry Date</div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ExpiryDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.UsedFor, new { htmlAttributes = new { @placeholder = "Used For", @rows = 6, @style = "resize:none;", @class = "input-summary form-control required-field no-border-radius" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.UsedFor)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @placeholder = "Supplier Name", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.SupplierName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="storage-locations" name="StorageRequirements" class="form-control no-border-radius required-field input-summary">
                                            <option value="">Storage Requirement..</option>
                                            <optgroup label="Storage Req's'">
                                                @foreach (var item in ViewBag.Storage) {
                                                    <option value="@item">
                                                        @item
                                                    </option>
                                                }
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @placeholder = "Lot #", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.LotNumber)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.CatalogueCode, new { htmlAttributes = new { @placeholder = "Catalogue Code", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.CatalogueCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="device-selector" name="Devices" class="select2 form-control no-border-radius required-field input-summary" multiple="multiple">
                                            <optgroup label="Balance ID's">
                                                @foreach (var item in ViewBag.BalanceDevices) {
                                                    if (@item.IsVerified) {
                                                        <option value="@item.DeviceCode">
                                                            @item.DeviceCode
                                                        </option>
                                                    } else {
                                                        <option disabled="disabled" value="@item.DeviceCode">
                                                            @item.DeviceCode - Not Verified
                                                        </option>
                                                    }
                                                }
                                            </optgroup>
                                            <optgroup label="Volumetric ID's">
                                                @foreach (var item in ViewBag.VolumeDevices) {
                                                    if (@item.IsVerified) {
                                                        <option value="@item.DeviceCode">
                                                            @item.DeviceCode
                                                        </option>
                                                    } else {
                                                        <option disabled="disabled" value="@item.DeviceCode">
                                                            @item.DeviceCode - Not Verified
                                                        </option>
                                                    }
                                                }
                                                <option value="VOL902-W">VOL902-W</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.SolventUsed, new { htmlAttributes = new { @placeholder = "Solvent(s) Used", @rows = 3.5, @style = "resize:none;height:82px;", @class = "input-summary form-control required-field no-border-radius" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.SolventUsed)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.SolventSupplierName, new { htmlAttributes = new { @placeholder = "Solvent Supplier", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.SolventSupplierName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.Purity, new { htmlAttributes = new { @placeholder = "Purity", @class = "input-summary form-control required-field" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Purity)
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-11">
                                <a href='#section-bar-3' class="btn btn-default next-section btn-next">Next »</a>
                            </div>
                        </div>
                    </section>
                    <!-- UPLOADS -->
                    <section id="section-bar-2">
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Upload Certificate of Analysis and Safety Data Sheet</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon addon-required" title="Required Field"></div>
                                    <input type="file" id="CertificateOfAnalysis" name="uploadCofA" class="form-control btn btn-default required-field-s2" accept=".pdf" />
                                    <div class="input-group-addon input-group-addon-md">Upload CofA</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon addon-required" title="Required Field"></div>
                                    <input type="file" id="MSDS" name="uploadMSDS" class="form-control btn btn-default required-field-s2" accept=".pdf" />
                                    <div class="input-group-addon input-group-addon-md">Upload SDS</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f;margin-top:45px;">Safety Data Sheet Information</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon addon-required" title="Required Field"></div>
                                    @Html.EditorFor(model => model.MSDSNotes, new { htmlAttributes = new { @rows = 2, @style = "resize:none;", @placeholder = "SDS Notes", @class = "input-summary form-control no-border-radius required-field-s2", @maxlength = 50 } })
                                </div>
                                @Html.ValidationMessageFor(model => model.MSDSNotes)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-11 col-md-offset-1" style="padding-top:20px;">
                                <a href='#section-bar-3' id="btn-review" class="btn btn-default next-section btn-review">Review and Submit</a>
                                <a href='#section-bar-1' class="btn btn-default previous-section">« Previous</a>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-3">
                        <div class="form-group">
                            <div class="container">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Field</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size:14px;"></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="button" href='#section-bar-2' value="Cancel" class="btn btn-warning previous-section" />
                                    <input name="submit" type="submit" class="btn btn-primary" value="Save" />
                                    <input name="submit" type="submit" class="btn btn-primary" value="Save & New" />
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default center-block active"><input type="radio">Print Label</label>
                                        <label class="btn btn-default center-block"><input type="radio">Don't Print Label</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- /content -->
            </div><!-- /tabs -->
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        $(".select2").select2({
            placeholder: "Devices Used..",
            allowClear: true,
            maximumSelectionLength: 2
        });
    });
</script>