@model TMNT.Models.ViewModels.StockStandardViewModel

@{
    ViewBag.Title = "Create";
}

<style>
    /* Fixing Side Menu Selectors */
    #side-menu > li:first-child > a {
        background-color: #F8F8F8;
    }

    /* Summary Table CSS */
    table.table-bordered > thead > tr > th {
        background: black;
        color: #fff;
        text-align: center;
    }

        table.table-bordered > thead > tr > th:first-child {
            width: 25%;
        }

    #page-wrapper {
        min-height: 900px;
    }

    input[type=text] {
        width: 100%;
    }

    button {
        width: 33%;
        color: #fff !important;
        border-radius: 0 !important;
        background-color: #428BCA !important;
        float: right;
    }

    .next-section {
        float: right;
        bottom: 0;
    }

    .previous-section {
        float: left;
        bottom: 0;
    }

    #Unit {
        border-radius: 0;
        border-left: none;
    }

    /* Asterisk Required */
    .required {
        content: " *";
        color: red;
    }

    /* Required Addon */
    .addon-required {
        color: red;
        border-radius: 0;
        font-size: 22px;
        padding: 10px 9px 0 9px;
    }

        .addon-required:after {
            content: "*";
            margin-top: 4px;
        }
</style>

<script>
    $(function () {
        //fixing section 1 getting the appropriate classes
        $('#section-bar-1').addClass('section');

        //filling summary table
        var inputs = $('.input-summary');
        var table = $('table.table-bordered > tbody');

        $('.btn-review').on('click', function (e) {
            //absolutely prevent duplicate rows
            if ($('table.table-bordered > tbody > tr').length > 0) {
                table.find("tr").remove();
            }
            var row = "";
            for (var i = 0; i < inputs.length; i++) {
                row += "<tr>" +//drilling into each element and retrieving the value of each "name" attribute
                    "<td>" + inputs[i].attributes.getNamedItem('name').textContent.replace(/([A-Z])/g, ' $1').trim() + "</td><td>" + inputs[i].value + "</td>" +
                    "</tr>";
            }
            table.append(row);
        });
        //validating first section
        var nextButtons = $('.next-section');
        var sectionOneInputs = $('#section-bar-1 .input-summary');
        var tabs = $('.tabs li');
    });
</script>

@using (Html.BeginForm("Create", "Standard", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    New Stock Standard
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Standards / <i class="fa fa-star-o"></i> New Stock Standard
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "Standard", htmlAttributes: new { @class = "btn btn-default" })
        </p>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li><a href="#section-bar-1" class="icon icon-config"><span>Standard Info</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-upload"><span>Uploads</span></a></li>
                        <li><a href="#section-bar-3" class="icon icon-display"><span>Finalize</span></a></li>
                    </ul>
                </nav>
                @Html.ValidationSummary(true)
                <div class="content-wrap">
                    <section id="section-bar-1">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.IdCode, new { htmlAttributes = new { @placeholder = "ID Code", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.IdCode)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.StockStandardName, new { htmlAttributes = new { @placeholder = "Standard Name", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.StockStandardName)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.CaseNumber, new { htmlAttributes = new { @placeholder = "Case Number", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.CaseNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.UsedFor, new { htmlAttributes = new { @placeholder = "Used For", @rows = 6, @style = "resize:none;", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.UsedFor)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.CatalogueCode, new { htmlAttributes = new { @placeholder = "Lot #", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.CatalogueCode)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @placeholder = "Amount", @min = 0, @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.Amount)
                                        <div class="input-group-addon" style="padding:0; border:none; width:33%;">
                                            @*@Html.DropDownListFor(model => model.Unit, new SelectList(ViewBag.Units as SelectList, "Value", "Text"), new { @class = "input-xlarge-fluid input-summary form-control" })
                                            @Html.ValidationMessageFor(model => model.Unit)*@
                                            <select class="input-xlarge-fluid input-summary form-control required-field" id="Unit" name="Unit" aria-invalid="false">
                                                <option value="">Select Metric</option>
                                                <optgroup label="Weight">
                                                    @foreach (var item in ViewBag.WeightUnits) {
                                                        <option value="@item.UnitId">
                                                            @item.UnitShorthandName
                                                        </option>
                                                    }
                                                </optgroup>
                                                <optgroup label="Volume">
                                                    @foreach (var item in ViewBag.VolumeUnits) {
                                                        <option value="@item.UnitId">
                                                            @item.UnitShorthandName
                                                        </option>
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @placeholder = "Grade", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.Grade)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION TWO INPUTS -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.SolventUsed, new { htmlAttributes = new { @placeholder = "Solvent Used", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.SolventUsed)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.Purity, new { htmlAttributes = new { @placeholder = "Purity", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.Purity)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-offset-1 col-md-10">
                                <a href='#section-bar-3' class="btn btn-default next-section btn-next">Next »</a>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-2">
                        <div class="col-lg-6">
                            @Html.Label("Certificate Of Analysis", new { @class = "control-label" })
                            <input type="file" id="CertificateOfAnalysis" name="uploadCofA" class="form-control btn btn-default" accept=".pdf" />
                        </div>
                        <div class="col-lg-6">
                            @Html.Label("MSDS", new { @class = "control-label" })
                            <input type="file" id="MSDS" name="uploadMSDS" class="form-control btn btn-default" accept=".pdf" />
                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-1 col-md-10" style="padding-top:20px;">
                                <a href='#section-bar-4' class="btn btn-default next-section btn-review">Review and Submit</a>
                                <a href='#section-bar-1' class="btn btn-default previous-section">« Previous</a>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-3">
                        <div class="form-group">
                            <div class="page-header">
                                <div class="container">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Field</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-3">
                                    <a href='#section-bar-2' class="btn btn-default previous-section" style="margin:0 10px 0 30px;">Cancel</a>
                                    <input name="submit" type="submit" class="btn btn-default" value="Save" />
                                    <input name="submit" type="submit" class="btn btn-default" value="Save & New" />
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Print Label?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- /content -->
            </div><!-- /tabs -->
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")
    </div>
}