@model TMNT.Models.StockStandard

@{
    ViewBag.Title = "Details";
}

<style>
    /* Fixing Side Menu Selectors */
    #side-menu > li:first-child > a {
        background-color: #F8F8F8;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.IdCode Standard Details
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Standards / <i class="fa fa-clipboard"></i> @Model.IdCode Standard Details
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Standard", htmlAttributes: new { @class = "btn btn-default" })
</p>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStandardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStandardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolventUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolventUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockStandardId })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
