@model TMNT.Models.ViewModels.StockStandardViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.IdCode Standard Details
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Standards / <i class="fa fa-clipboard"></i> @Model.IdCode Standard Details
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Standard", null, htmlAttributes: new { @class = "btn btn-default" })
    @if (@ViewBag.ReturnUrl != null) {
        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Return to Intermediate Standard</a>
    }
</p>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStandardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStandardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolventUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolventUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateOfAnalysis)
        </dt>

        <dd>
            @Html.ActionLink("View Cerificate of Analysis", "ViewPDF", "PDFViewer", new { id = Model.CertificateOfAnalysis.CertificateOfAnalysisId, type = "CofA" }, htmlAttributes: new { @target = "_blank" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSDS)
        </dt>

        <dd>
            @Html.ActionLink("View MSDS", "ViewPDF", "PDFViewer", new { id = Model.MSDS.MSDSId, type = "MSDS" }, htmlAttributes: new { @target = "_blank" })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockStandardId })
</p>
