@model TMNT.Models.ViewModels.StockStandardDetailsViewModel

@{
    ViewBag.Title = "Details";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            @Model.IdCode Standard Details
        </h1>
        <ol class="breadcrumb no-border-radius">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Standards / <i class="fa fa-clipboard"></i> @Model.IdCode Standard Details
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Standard", null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Edit " + Model.IdCode, "Edit", new { id = Model.StockStandardId }, htmlAttributes: new { @class = "btn btn-default" })
    @if (!string.IsNullOrEmpty(@ViewBag.ReturnUrl)) {
        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Return to Intermediate Standard</a>
    }
</p>

<hr />

@Html.Partial("_SectionHeader", "Location Information")

<div>
    <div class="container">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Location.LocationName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Location.LocationName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Location.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Location.Address), @Html.DisplayFor(model => model.Department.Location.PostalCode) <br />
                    @Html.DisplayFor(model => model.Department.Location.City), @Html.DisplayFor(model => model.Department.Location.Province)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Location.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Location.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Location.FaxNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Location.FaxNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Department.DepartmentName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.DepartmentName)
                </dd>
            </dl>
        </div>
    </div>
</div>

@Html.Partial("_SectionHeader", "Standard Information")

<div class="container">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LotNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LotNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatalogueCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatalogueCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StockStandardName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StockStandardName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SolventUsed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SolventUsed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CertificateOfAnalysis)
            </dt>

            <dd>
                @Html.ActionLink("View Cerificate of Analysis", "ViewPDF", "PDFViewer", new { id = Model.CertificateOfAnalysis.CertificateOfAnalysisId, type = "CofA" }, htmlAttributes: new { @target = "_blank" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MSDS)
            </dt>

            <dd>
                @Html.ActionLink("View SDS", "ViewPDF", "PDFViewer", new { id = Model.MSDS.MSDSId, type = "MSDS" }, htmlAttributes: new { @target = "_blank" })
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateReceived)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateReceived)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </dt>

            @if (Model.IsExpired) {
                <dd>
                    @Html.DisplayFor(model => model.ExpiryDate)
                    <span class="fa fa-exclamation-triangle text-danger" title="Expired"></span>
                </dd>
            } else if (Model.IsExpiring) {
                <dd>
                    @Html.DisplayFor(model => model.ExpiryDate)
                    <span class="fa fa-exclamation-triangle text-warning" title="Expiring"></span>
                </dd>
            } else {
                <dd>
                    @Html.DisplayFor(model => model.ExpiryDate)
                    <span class="fa fa-check-circle text-success" title="Valid"></span>
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.InitialAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InitialAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Concentration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Concentration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfBottles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfBottles)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SupplierName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SupplierName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateModified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateModified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastModifiedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsedFor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsedFor)
            </dd>
        </dl>
    </div>
</div>

@*<div class="col-md-12" style="background-color: lightgrey;">
        <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">History of Devices Used</h4>
    </div>

    <div class="container">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DevicesUsed)
                </dt>

                @foreach (var item in Model.DevicesUsed) {
                    <dd>
                        @item.DeviceCode @Html.ActionLink(@item.DeviceCode + " Details", "Details", "Balance", new { id = @item.DeviceId }, null)
                    </dd>
                }
            </dl>
        </div>
    </div>*@

@Html.Partial("_SectionHeader", "All Certificates of Analysis for " + @Model.IdCode)
<div class="container">
    <table id="myTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    View Certificate of Analysis
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Entered By
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllCertificatesOfAnalysis) {
                <tr>
                    <td>
                        @Html.ActionLink(item.DateAdded.ToString().Split(' ')[0] + " CofA", "ViewPDF", "PDFViewer", new { id = item.CertificateOfAnalysisId, type = "CofA" }, htmlAttributes: new { @target = "_blank" })
                    </td>
                    <td>
                        @item.DateAdded.ToString().Split(' ')[0]
                    </td>
                    <td>
                        @item.InventoryItem.CreatedBy
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    View Certificate of Analysis
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Entered By
                </th>
            </tr>
        </tfoot>
    </table>
</div>

@*@Html.Partial("_SectionHeader", "All Safety Data Sheets for " + @Model.IdCode)

<div class="container">
    <table id="myTable2" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    View Materials Safety Data Sheet
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Entered By
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllMSDS) {
                <tr>
                    <td>
                        @Html.ActionLink(item.DateAdded.ToString().Split(' ')[0] + " SDS", "ViewPDF", "PDFViewer", new { id = item.MSDSId, type = "MSDS" }, htmlAttributes: new { @target = "_blank" })
                    </td>
                    <td>
                        @item.DateAdded.ToString().Split(' ')[0]
                    </td>
                    <td>
                        @item.InventoryItem.CreatedBy
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    View Materials Safety Data Sheet
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    Entered By
                </th>
            </tr>
        </tfoot>
    </table>
</div>*@
@Scripts.Render("~/datatables")