@model TMNT.Models.ViewModels.StockStandardViewModel

@{
    ViewBag.Title = "Edit " + Model.IdCode;
}

@section AddToHead {
    @Styles.Render("~/maxxam-forms")
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            Edit @Model.IdCode
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Standards / <i class="fa fa-clipboard"></i> Edit @Model.IdCode
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Reagent", null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("View " + Model.IdCode + " Details", "Details", new { id = Model.StockStandardId }, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<div class="col-md-12" style="background-color: lightgrey;">
    <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Reagent Information</h4>
</div>

@using (Html.BeginForm("Edit", "Reagent", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.StockStandardId)

    <div class="container">
        <div class="col-md-5">
            <div class="form-group">
                <div class="input-group input-full-width">
                    @Html.LabelFor(model => model.IdCode, htmlAttributes: new { @class = "control-label input-group-addon input-group-addon-md" })
                    @Html.EditorFor(model => model.IdCode, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.IdCode)
            </div>
            <div class="form-group">
                <div class="input-group input-full-width">
                    @Html.LabelFor(model => model.LotNumber, htmlAttributes: new { @class = "control-label input-group-addon input-group-addon-md" })
                    @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.LotNumber)
            </div>
            <div class="form-group">
                <div class="input-group input-full-width">
                    @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label input-group-addon input-group-addon-md" })
                    @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.SupplierName)
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="input-group input-full-width">
                    @Html.LabelFor(model => model.StockStandardName, htmlAttributes: new { @class = "control-label input-group-addon input-group-addon-lg" })
                    @Html.EditorFor(model => model.StockStandardName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.StockStandardName)
            </div>
        </div>
    </div>

    <div class="col-md-12" style="background-color: lightgrey;">
        <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Reagent Certificate of Analysis and SDS</h4>
    </div>

    <div class="container">
        <div class="col-md-5">
            <div class="form-group">
                <div class="input-group input-full-width">
                    <label class="control-label input-group-addon input-group-addon-elg">Current CofA</label>
                    @Html.ActionLink(Model.StockStandardName + " - " + Model.CertificateOfAnalysis.DateAdded.ToString().Split(' ')[0] + " CofA", "ViewPDF", "PDFViewer", new { id = Model.CertificateOfAnalysis.CertificateOfAnalysisId, type = "CofA" }, htmlAttributes: new { @target = "_blank", @class = "btn btn-default no-border-radius input-full-width" })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-full-width">
                    <label class="control-label input-group-addon input-group-addon-elg">Upload New CofA</label>
                    <input type="file" id="CertificateOfAnalysis" name="uploadCofA" class="form-control btn btn-default no-border-radius" accept=".pdf" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-full-width">
                    <label class="control-label input-group-addon input-group-addon-elg">Upload New SDS</label>
                    <input type="file" id="MSDS" name="uploadMSDS" class="form-control btn btn-default no-border-radius" accept=".pdf" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="input-group input-full-width">
                    <label for="GradeAdditionalNotes" class="control-label input-group-addon input-group-addon-elg">Current SDS</label>
                    @Html.ActionLink(Model.StockStandardName + " - " + Model.MSDS.DateAdded.ToString().Split(' ')[0] + " SDS", "ViewPDF", "PDFViewer", new { id = Model.MSDS.MSDSId, type = "MSDS" }, htmlAttributes: new { @target = "_blank", @class = "btn btn-default no-border-radius input-full-width" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}