@model IEnumerable<TMNT.Models.ViewModels.StockStandardViewModel>

@{
    ViewBag.Title = "Index";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Stock Standards
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Standards
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("New Standard", "Create", "Standard", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.StockStandardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEntered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            @*<th>
                Amount Remaining
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnteredBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StockStandardId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StockStandardId }) |
                    <a href="#">Print Label</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockStandardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEntered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOpened)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCode)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Amount)@Html.DisplayFor(itemItem => item.Unit.UnitShorthandName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnteredBy)
                </td>
            </tr>
                @*<td>
                        @foreach (var i in item.InventoryItems) {
                            foreach (var c in i.CertificatesOfAnalysis) {
                                //Html.ActionLink("CofA", "Get", "CofA", new { id = c.CertificateOfAnalysisId }, null);
                                var id = c.CertificateOfAnalysisId;
                                <a href="/CofA/Get/@id">CofA</a>
                            }
                        }
                    </td>*@
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.StockStandardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEntered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            @*<th>
                Amount Remaining
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnteredBy)
            </th>
        </tr>
    </tfoot>
</table>
@Scripts.Render("~/datatables")