@model IEnumerable<TMNT.Models.Device>

@{
    Layout = "";
}

@{
    ViewBag.Title = "DeviceVerificationReport";
}

<link href="../../Content/dataTables.min.css" rel="stylesheet" />
@Styles.Render("~/Content/css")

<link href="http://www.flotcharts.org/flot/examples/examples.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
    }

    #content {
        margin: 0;
        width: 450px;
        height: 325px;
    }

    #content2 {
        margin: 0;
        width: 450px;
        height: 325px;
        padding: 10px;
    }

    .demo-container {
        position: relative;
        height: 300px;
        margin: 0;
        background: #fff;
        border: none;
        box-shadow: none;
        width: 475px;
    }

    #placeholder {
        width: 450px;
    }

    #placeholder2 {
        width: 450px;
    }

    #menu {
        position: absolute;
        top: 20px;
        left: 625px;
        bottom: 20px;
        right: 20px;
        width: 200px;
    }

        #menu button {
            display: inline-block;
            width: 200px;
            padding: 3px 0 2px 0;
            margin-bottom: 4px;
            background: #eee;
            border: 1px solid #999;
            border-radius: 2px;
            font-size: 14px;
            -o-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            cursor: pointer;
        }

    #description {
        margin: 15px 10px 20px 10px;
    }

    #code {
        display: block;
        width: 870px;
        padding: 15px;
        margin: 10px auto;
        border: 1px dashed #999;
        background-color: #f8f8f8;
        font-size: 16px;
        line-height: 20px;
        color: #666;
    }

    ul {
        font-size: 10pt;
    }

        ul li {
            margin-bottom: 0.5em;
        }

        ul.options li {
            list-style: none;
            margin-bottom: 1em;
        }

        ul li i {
            color: #999;
        }

    table.dataTable thead .sorting {
        background-image: url("../../Content/images/sort_both.png") !important;
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    table.dataTable thead .sorting_asc {
        background-image: url("../../Content/images/sort_asc.png") !important;
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    table.dataTable thead .sorting_desc {
        background-image: url("../../Content/images/sort_desc.png") !important;
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    #section-2 {
        display: none;
    }

    #section-3 {
        display: none;
    }
</style>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#">Device Verification Report</a>*@
            <img src="~/Content/Images/maxxam2.png" style="height:60px;width:177px;margin-left:15px;" />
        </div>
        <div class="text-right container">
            <h2>
                Device Verification Report - Last 30 Days
            </h2>
        </div>
        @*<div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-header" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter Report - All Devices <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id="all-devices" class="device-filter" href="#">All Devices</a></li>
                            <li><a id="volumetric-only" class="device-filter" href="#">Volumetric Devices Only</a></li>
                            <li><a id="balance-only" class="device-filter" href="#">Balance Devices Only</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a id="filter-today" href="#">Today <span class="sr-only">(current)</span></a></li>
                    <li><a id="filter-7-days" href="#">Last 7 Days</a></li>
                    <li><a id="filter-30-days" href="#">Last 30 Days</a></li>
                </ul>
            </div>*@<!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="container loading">
    <div class="text-center">
        <h2>Loading the report, please wait..</h2>
    </div>
</div>

<div id="section-1" class="container">
    <div class="col-md-12" style="background-color: lightgrey;">
        <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">All Devices</h4>
    </div>
    <table id="table-all" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DeviceType)</th>
                <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
                <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
                <th>Device Verifications Count</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DeviceType)</th>
                <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
                <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
                <th>Device Verifications Count</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </tfoot>
    </table>
</div>

@*<div id="section-2" class="container">
    <table id="table-volumetric" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DeviceType)</th>
                <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
                <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
                <th>Device Verifications Count</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DeviceType)</th>
                <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
                <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
                <th>Device Verifications Count</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="section-3" class="container">
    <table id="table-balance" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DeviceType)</th>
                <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
                <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
                <th>Device Verifications Count</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DeviceType)</th>
                <th>@Html.DisplayNameFor(model => model.DeviceCode)</th>
                <th>@Html.DisplayNameFor(model => model.Department.DepartmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.IsVerified)</th>
                <th>Device Verifications Count</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </tfoot>
    </table>
</div>*@

<div class="container">
    <div class="col-md-6">
        <div class="col-md-12" style="background-color: lightgrey;">
            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Balances Dashboard</h4>
        </div>
        <div id="content">
            <div class="demo-container">
                <div id="placeholder" class="demo-placeholder">Balance Verifications Last 30 Days</div>
                <img src="~/Content/Images/bluespinner.gif" alt="" class="loading"  style="margin-top:-200px;margin-left:175px;"  />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12" style="background-color: lightgrey;">
            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Volumetrics Dashboard</h4>
        </div>
        <div id="content2">
            <div class="demo-container">
                <div id="placeholder2" class="demo-placeholder">Volumetric Verifications Last 30 Days</div>
                <img src="~/Content/Images/bluespinner.gif" alt="" class="loading" style="margin-top:-200px;margin-left:175px;" />
            </div>
        </div>
    </div>
</div>

<div class="footer" style="position:relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;">
    <div class="container">
        <p class="text-muted col-md-9"><span>Requested by: @ViewBag.User</span></p>
        <p class="text-muted col-md-3">Requested on: <span id="date"></span></p>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/js")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/datatables")
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.pie.js"></script>

<script>
    $(function () {
        var date = new Date();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        $('#date').text(date.getFullYear() + "-" + ('0' + date.getDate()).slice(-2) + "-" + ('0' + month).slice(-2));

        var json;
        var tableAll = $('#table-all');
        var tableVolumetric = $('#table-volumetric');
        var tableBalance = $('#table-balance');

        var balances = [], volumes = [];

        //on success, set table to show all data
        function onDataReceived(data) {
            json = data;
            //filling all table
            var text = "";
            $.each(json, function (i, row) {
                text += "<tr>" +
                            "<td>" + row.DeviceType + "</td>" +
                            "<td>" + row.DeviceCode + "</td>" +
                            "<td>" + row.Department.DepartmentCode + "</td>" +
                            "<td>" + row.IsVerified + "</td>" +
                            "<td>" + row.DeviceVerifications.length + "</td>" +
                            "<td>" + row.Status + "</td>" +
                        "</tr>";
            });
            tableAll.append(text);

            //filling volumetric table
            var text = "";
            $.each(json, function (i, row) {
                if (row.DeviceType === "Volumetric") {
                    text += "<tr>" +
                                "<td>" + row.DeviceType + "</td>" +
                                "<td>" + row.DeviceCode + "</td>" +
                                "<td>" + row.Department.DepartmentCode + "</td>" +
                                "<td>" + row.IsVerified + "</td>" +
                                "<td>" + row.DeviceVerifications.length + "</td>" +
                                "<td>" + row.Status + "</td>" +
                            "</tr>";
                    volumes.push(row);
                }
            });
            tableVolumetric.append(text);

            //filling balance table
            var text = "";
            $.each(json, function (i, row) {
                if (row.DeviceType === "Balance") {
                    text += "<tr>" +
                                "<td>" + row.DeviceType + "</td>" +
                                "<td>" + row.DeviceCode + "</td>" +
                                "<td>" + row.Department.DepartmentCode + "</td>" +
                                "<td>" + row.IsVerified + "</td>" +
                                "<td>" + row.DeviceVerifications.length + "</td>" +
                                "<td>" + row.Status + "</td>" +
                            "</tr>";
                    balances.push(row);
                }
            });
            tableBalance.append(text);
            return true;
        }

        //ajax call
        var getAjaxData = $.ajax({
            type: "GET",
            url: "http://localhost:1413/api/reportsdevicesapi",
            dataType: "json",
            beforeSend: function () {
                $('.loading').show();
            },
            complete: function () {
                $('.loading').hide();
            },
            success: onDataReceived,
            error:
                function (xhr, status, error) {
                    //$('.loading').show()//.text("Error loading the report. Please try again shortly.")
                    alert("There was an error while retrieving the report. Please try again shortly.")
                }
            //    function (xhr, status, error) {
            //    alert(xhr.responseText);
            //}
        });

        //promise - once data is laoded, load datatables
        $.when(getAjaxData).done(function (x) {
            //all data
            $('#table-all').dataTable({
                "pageLength": 10,
                "order": [[0, "asc"]],
                "columns": [
                    { "fields": "Type" },
                    { "fields": "DeviceCode" },
                    { "fields": "DepartmentCode" },
                    { "fields": "IsVerified" },
                    { "fields": "Device Verification Count" },
                    { "fields": "Status" }
                ],
                "aoColumnDefs": [
                    { 'bSortable': true, 'aTargets': [0] }
                ]
            });

            //volemtric table only
            //$('#table-volumetric').dataTable({
            //    "pageLength": 10,
            //    "order": [[0, "asc"]],
            //    "columns": [
            //        { "fields": "Type" },
            //        { "fields": "DeviceCode" },
            //        { "fields": "DepartmentCode" },
            //        { "fields": "IsVerified" },
            //        { "fields": "Device Verification Count" },
            //        { "fields": "Status" }
            //    ],
            //    "aoColumnDefs": [
            //        { 'bSortable': true, 'aTargets': [0] }
            //    ]
            //});

            ////volemtric table only
            //$('#table-balance').dataTable({
            //    "pageLength": 10,
            //    "order": [[0, "asc"]],
            //    "columns": [
            //        { "fields": "Type" },
            //        { "fields": "DeviceCode" },
            //        { "fields": "DepartmentCode" },
            //        { "fields": "IsVerified" },
            //        { "fields": "Device Verification Count" },
            //        { "fields": "Status" }
            //    ],
            //    "aoColumnDefs": [
            //        { 'bSortable': true, 'aTargets': [0] }
            //    ]
            //});
        });

        //showing all devices
        //$('#all-devices').on('click', function (e) {
        //    e.preventDefault();
        //    $('#section-1').css('display', 'block');
        //    $('#section-2').css('display', 'none');
        //    $('#section-3').css('display', 'none');

        //    var header = $('.dropdown-header');
        //    header.text("Filter results - All Devices ");
        //    header.append("<span class='caret'></span>");
        //});

        ////showing all volumetric devices only
        //$('#volumetric-only').on('click', function (e) {
        //    e.preventDefault();
        //    $('#section-1').css('display', 'none');
        //    $('#section-2').css('display', 'block');
        //    $('#section-3').css('display', 'none');

        //    var header = $('.dropdown-header');
        //    header.text("Filter results - Vol. Devices ");
        //    header.append("<span class='caret'></span>");
        //});

        ////showing all balances only
        //$('#balance-only').on('click', function (e) {
        //    e.preventDefault();
        //    $('#section-1').css('display', 'none');
        //    $('#section-2').css('display', 'none');
        //    $('#section-3').css('display', 'block');

        //    var header = $('.dropdown-header');
        //    header.text("Filter results - Bal. Devices ");
        //    header.append("<span class='caret'></span>");
        //});

        //$('#filter-today').on('click', function (e) {
        //    e.preventDefault();
        //});

        //$('#filter-7-days').on('click', function (e) {
        //    e.preventDefault();
        //});

        //$('#filter-30-days').on('click', function (e) {
        //    e.preventDefault();
        //});


        var data = [], data2 = [], series;
        var thirtydaysAgo = new Date(new Date().setDate(date.getDate() - 30));

        $.when(getAjaxData).done(function (x) {
            //getting all device verification data
            var balancePass = 0, balanceFail = 0, volumePass = 0, volumeFail = 0;
            for (var i = 0; i < json.length; i++) {
                var item = json[i];
                //console.log(item);
                if (item.DeviceVerifications.length > 0) {
                    for (var z = 0; z < item.DeviceVerifications.length; z++) {
                        var dateVerified = new Date(item.DeviceVerifications[z].VerifiedOn);
                        if (item.DeviceType === "Balance" && item.DeviceVerifications[z].DidTestPass) {
                            //this is here just for testing
                            //console.log("Date Verified: " + dateVerified);
                            //console.log("Thirty Days Ago: " + thirtydaysAgo);
                            if (dateVerified > thirtydaysAgo) {
                                balancePass++;
                            }
                        } else if (item.DeviceType === "Balance" && !item.DeviceVerifications[z].DidTestPass) {
                            if (dateVerified > thirtydaysAgo) {
                                balanceFail++;
                            }
                        } else if (item.DeviceType === "Volumetric" && item.DeviceVerifications[z].DidTestPass) {
                            if (dateVerified > thirtydaysAgo) {
                                volumePass++;
                            }
                        } else if (item.DeviceType === "Volumetric" && !item.DeviceVerifications[z].DidTestPass) {
                            if (dateVerified > thirtydaysAgo) {
                                volumeFail++;
                            }
                        }
                    }
                }
            }
            //console.log(new Date(new Date().setDate(date.getDate() - 30)));
            data = [
                { label: "Balances Pass Verification", data: balancePass },
                { label: "Balances Fail Verification", data: balanceFail }
            ], series = data.length;

            data2 = [
                { label: "Volumetric Pass Verification", data: volumePass },
                { label: "Volumetric Fail Verification", data: volumeFail }
            ], series = data2.length;

            var placeholder = $("#placeholder");
            var placeholder2 = $("#placeholder2");

            $.plot(placeholder, data, {
                series: {
                    pie: {
                        show: true,
                        radius: 3 / 4,
                        label: {
                            show: true,
                            radius: 3 / 4,
                            formatter: labelFormatter,
                            background: {
                                opacity: 0.5,
                                color: "#000"
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            });

            $.plot(placeholder2, data2, {
                series: {
                    pie: {
                        show: true,
                        radius: 3 / 4,
                        label: {
                            show: true,
                            radius: 3 / 4,
                            formatter: labelFormatter,
                            background: {
                                opacity: 0.5,
                                color: "#000"
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            });

            setCode([
                "$.plot('#placeholder', data, {",
                "    series: {",
                "        pie: {",
                "            show: true,",
                "            radius: 3/4,",
                "            label: {",
                "                show: true,",
                "                radius: 3/4,",
                "                formatter: labelFormatter,",
                "                background: {",
                "                    opacity: 0.5,",
                "                    color: '#000'",
                "                }",
                "            }",
                "        }",
                "    },",
                "    legend: {",
                "        show: false",
                "    }",
                "});"
            ]);

            setCode([
                    "$.plot('#placeholder2', data2, {",
                    "    series: {",
                    "        pie: {",
                    "            show: true,",
                    "            radius: 3/4,",
                    "            label: {",
                    "                show: true,",
                    "                radius: 3/4,",
                    "                formatter: labelFormatter,",
                    "                background: {",
                    "                    opacity: 0.5,",
                    "                    color: '#000'",
                    "                }",
                    "            }",
                    "        }",
                    "    },",
                    "    legend: {",
                    "        show: false",
                    "    }",
                    "});"
            ]);
        });

    });

    // A custom label formatter used by several of the plots

    function labelFormatter(label, series) {
        return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
    }

    function setCode(lines) {
        $("#code").text(lines.join("\n"));
    }
</script>