@model IEnumerable<TMNT.Models.ViewModels.PreparedReagentViewModel>

@{
    ViewBag.Title = "Index";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            In-House Reagents
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> In-House Reagents
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("New In-House Reagent", "Create", "MaxxamMadeReagent", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.MaxxamMadeReagentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxxamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaxxamMadeReagentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaxxamMadeReagentId }) |
                    <a href="#">Print Label</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxxamMadeReagentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOpened)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxxamId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.MaxxamMadeReagentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxxamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
        </tr>
    </tfoot>
</table>



@Scripts.Render("~/datatables")

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LotNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxxamMadeReagentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LotNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxxamMadeReagentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaxxamMadeReagentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaxxamMadeReagentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaxxamMadeReagentId })
        </td>
    </tr>
}

</table>*@