@using TMNT.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

@section AddToHead {
    <link href="~/Content/login-styles.css" rel="stylesheet" />
}
<div class="col-md-offset-0-5" id="header-container">
    <h2 id="login-title">Maxxam Login</h2>
</div>
<div class="row">
    <div class="col-md-5 vertical-center">
        <hr />
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon no-border-radius"><i class="fa fa-user fa-fw"></i></span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter Your Username", @Value = @ViewBag.Username })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon no-border-radius"><i class="fa fa-key fa-fw"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Your Password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="checkbox">
                            @if (@ViewBag.Username != "") {
                                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = true })
                                @Html.LabelFor(m => m.RememberMe)
                            } else {
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<div id="login-footer">
    <h2>Tortuga &copy; <span id="date-today"></span></h2>
</div>