@model TMNT.Models.ProfileViewModel

@{
    ViewBag.Title = "View Profile";
    if (Model.Role.Equals("Administrator")) {
        Layout = "../Shared/_AdministratorLayout.cshtml";
    } else {
        Layout = "../Shared/_Layout.cshtml";
    }
}

@section AddToHead {
    <style>
        .dl-horizontal dt {
            text-align: left;
            width: auto;
            padding-right: 1em;
        }

        .dl-horizontal dd {
            margin-left: 0;
            margin-bottom: 1em;
        }

        .bottom-row {
            min-height: 168px;
        }

        .top-row {
            min-height: 200px;
        }

        .change-password-container {
            min-height: 388px;
        }

        @@media screen and (max-width:1200px) {
            .tab-fix-width {
                width: 84%;
            }
        }
        @@media screen and (min-width:768px) and (max-width:991px) {
            #break-inner{
                display:none;
            }
        }

        @@media screen and (min-width:992px) and (max-width:1200px) {
            #break-inner{
                display:none;
            }

            #break-outer{
                display:none;
            }
        }

        @@media screen and (min-width:1201px) {
            #top-link-block {
                display: none;
            }
        }

        button {
            
            color: #0000EE;
        }

        #top-link-block.affix-top {
            position: absolute; /* allows it to "slide" up into view */
            bottom: -82px; /* negative of the offset - height of link element */
            right: 10px; /* padding from the left side of the window */
        }

        #top-link-block.affix {
            position: fixed; /* keeps it on the bottom once in view */
            bottom: 18px; /* height of link element */
            right: 10px; /* padding from the left side of the window */
        }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            @Html.DisplayFor(model => model.Name)
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-user"></i> Profile
            </li>
        </ol>
    </div>
</div>

<div class="container">
    <section style="padding-bottom: 50px; padding-top: 50px;">
        <div class="row">
            <div class="col-lg-4 tab-fix-width">
                <div class="alert alert-success top-row">
                    <h4 class="text-center">User Information</h4>
                    <hr />
                    <dl class="dl-horizontal" style="word-wrap:break-word">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                    </dl>
                </div>
                <div class="alert alert-success bottom-row">
                    <h4 class="text-center">Location Information</h4>
                    <hr />
                    <dl class="dl-horizontal" style="word-wrap:break-word">
                        <dt>
                            @Html.DisplayNameFor(model => model.Location.LocationName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Location.LocationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Department.DepartmentName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Department.DepartmentName)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-3 tab-fix-width">
                <div class="alert alert-warning top-row">
                    <h4 class="text-center">Next Password Change</h4>
                    <hr />
                    <p>
                        <h3 class="text-center">@Html.DisplayFor(model => model.DaysUntilNextPasswordChange)</h3>
                        days before a password change will be required. You will be notified 14 days in advance.
                    </p>
                </div>
                <div class="alert alert-info bottom-row">
                    <h4 class="text-center">Your Role</h4>
                    <hr />
                    <p>
                        You are currently assigned as: <h3 class="text-center">@Html.DisplayFor(model => model.Role)</h3>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 tab-fix-width">
                <div class="alert alert-success change-password-container">
                    @Html.Partial("_ChangePasswordPartial", Model)
                </div>
            </div>
        </div>
        <!-- ROW END -->
    </section>
    <!-- SECTION END -->
    <span id="top-link-block" class="hidden">
        <button class="well well-sm" onclick="$('html,body').animate({ scrollTop: 0 }, 'slow'); return false;">
            <i class="glyphicon glyphicon-chevron-up"></i> <br id="break-outer" /><span>Back to <br id="break-inner" />Top</span>
        </button>
    </span><!-- /top-link-block -->
</div>
<!-- CONATINER END -->

<script>
    $(function () {
        if (($(window).height() + 100) < $(document).height()) {
            $('#top-link-block').removeClass('hidden').affix({
                offset: { top: 100 }
            });
        }
    });
</script>