@model TMNT.Models.InventoryItem

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "InventoryItem", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>InventoryItem</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CatalogueCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatalogueCode)
                @Html.ValidationMessageFor(model => model.CatalogueCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InventoryItemName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InventoryItemName)
                @Html.ValidationMessageFor(model => model.InventoryItemName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size)
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grade)
                @Html.ValidationMessageFor(model => model.Grade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CaseNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CaseNumber)
                @Html.ValidationMessageFor(model => model.CaseNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsedFor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsedFor)
                @Html.ValidationMessageFor(model => model.UsedFor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated)
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateModified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateModified)
                @Html.ValidationMessageFor(model => model.DateModified)
            </div>
        </div>
        @*
    <div class="form-group">
        @Html.LabelFor(model => model.CertificateOfAnalysis, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CertificateOfAnalysis)
            @Html.ValidationMessageFor(model => model.CertificateOfAnalysis)
        </div>
    </div>
        *@
        <div class="form-group">
            @Html.Label("Certificate Of Analysis", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="CertificateOfAnalysis" name="upload" accept=".pdf"/>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Certificate Of Analysis", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="CertificateOfAnalysis" name="upload" accept=".pdf" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
