@model TMNT.Models.InventoryItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventoryItem</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogueCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogueCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsedFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
