@model TMNT.Models.ViewModels.IntermediateStandardViewModel

@{
    ViewBag.Title = "Create";
}

<style>
    /* Fixing Side Menu Selectors */
    /* Universal */
    #side-menu > li:first-child > a {
        background-color: #F8F8F8;
    }

    /* Summary Table CSS */
    /* Universal Create */
    table.table-bordered > thead > tr > th {
        background: black;
        color: #fff;
        text-align: center;
    }

        table.table-bordered > thead > tr > th:first-child {
            width: 25%;
        }
        
    /* Universal Create */
    input[type=text] {
        width: 100%;
    }
    
    /* Universal Create */
    .next-section {
        float: right;
        bottom: 0;
    }
    
    /* Universal Create */
    .previous-section {
        float: left;
        bottom: 0;
    }
    
    /* Universal Create */
    #Unit {
        border-radius: 0;
        border-left: none;
    }
    
    /* Universal Create */
    .input-group-addon {
        border-radius: 0 !important;
    }
    
    /* Universal Create */
    .no-border-radius {
        border-radius: 0 !important;
    }

    .input-group-addon {
        min-width: 28px;
    }

    /* Required Addon */
    .addon-required {
        color: red;
        border-radius: 0;
        font-size: 22px;
        padding: 10px 9px 0 9px;
    }

        .addon-required:after {
            content: "*";
            margin-top: 4px;
        }

        

    /* Just for Intermediate Standard */
    #build-recipe {
        height: 235px;
        overflow-y: scroll;
    }

        #build-recipe > .row {
            padding-left: 15px;
            padding-right: 15px;
        }
</style>

<script>
    $(function () {
        //fixing section 1 getting the appropriate classes
        $('#section-bar-1').addClass('section');

        //filling summary table
        var inputs = $('.input-summary');
        var table = $('table.table-bordered > tbody');
        var rowResizeFlag = true;

        $('.btn-review').on('click', function (e) {
            //absolutely prevent duplicate rows
            if ($('table.table-bordered > tbody > tr').length > 0) {
                table.find("tr").remove();
            }
            var row = "";
            for (var i = 0; i < inputs.length; i++) {
                row += "<tr>" +//drilling into each element and retrieving the value of each "name" attribute
                    "<td>" + inputs[i].attributes.getNamedItem('name').textContent.replace(/([A-Z])/g, ' $1').trim() + "</td><td>" + inputs[i].value + "</td>" +
                    "</tr>";
            }
            table.append(row);
        });

        //add another row
        $('#build-recipe').on('click', '#another-item', function (e) {
            e.preventDefault();
            var recipes = $('#build-recipe');
            var div = document.getElementById("build-recipe");

            var addRow =
                "<div class='row' style='margin:0 !important'>" +
                    "<div class='col-md-3'>" +
                        "<div class='form-group'>" +
                            "<div class='input-group'>" +
                                "<div class='input-group-addon'></div>" +
                                "<select name='Type' class='input-xlarge-fuid input-summary form-control valid no-border-radius'>" +
                                       "<option>No Chemical Type Selected</option>" +
                                           "<optgroup label='Item Type'>" +
                                           "<option value='Reagent'>" +
                                               "Reagent" +
                                           "</option>" +
                                           "<option value='Standard'>" +
                                               "Standard" +
                                           "</option>" +
                                           "<option value='Intermedate Standard'>" +
                                               "Intermediate Standard" +
                                           "</option>" +
                                       "</optgroup>" +
                                "</select>" +
                            "</div>" +
                        "</div>" +
                    "</div>" +
                "<div class='col-md-3'>" +
                    "<div class='input-group'>" +
                        "<div class='input-group-addon'></div>" +
                        "<input name='Amount' type='text' class='input-summary form-control text-box single-line no-border-radius' placeholder='Amount' />" +
                    "</div>" +
                "</div>" +
                "<div class='col-md-3'>" +
                    "<div class='input-group'>" +
                    "<div class='input-group-addon'></div>" +
                        "<input name='IdCode' type='text' class='input-summary form-control text-box single-line no-border-radius' placeholder='Lot #' />" +
                    "</div>" +
                "</div>" +
                "<div class='col-md-3'>" +
                    "<a href='#' id='another-item' class='btn btn-default'>Add</a><a href='#' id='remove-item' class='btn btn-default' style='margin-left:5px;'>Remove</a>" +
                "</div>" +
            "</div>";
            recipes.find('div[class=col-md-3]:last').remove("div[class=col-md-3]:last");
            recipes.append(addRow);
            //scroll to make sure the most bottom row stays visible when adding new rows
            if (recipes.children("div[class=row]").length > 5) {
                recipes.css('overflow-y', 'scroll');
                div.scrollTop = div.scrollHeight;
            }
        });

        //remove row
        $('#build-recipe').on('click', '#remove-item', function (e) {
            e.preventDefault();
            var recipes = $('#build-recipe');
            if (recipes.children("div[class=row]").length > 1) {
                recipes.children("div[class=row]:last").remove();
                recipes.children("div[class=row]:last").append("<div class='col-md-3'><a href='#' id='another-item' class='btn btn-default'>Add</a><a href='#' id='remove-item' class='btn btn-default' style='margin-left:5px;'>Remove</a></div>");
                //ensuring we can never have 0 rows
                if (recipes.children("div[class=row]").length == 1) {
                    $('#remove-item').attr('disabled', 'disabled');
                }
            }
        });
    });
</script>

@using (Html.BeginForm(Html.BeginForm("Create", "IntermediateStandard", null, FormMethod.Post, new { enctype = "multipart/form-data" }))) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    New Intermediate Standard
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Intermediate Standards / <i class="fa fa-star-o"></i> New Intermediate Standard
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "Reagent", htmlAttributes: new { @class = "btn btn-default" })
        </p>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li><a href="#section-bar-1" class="icon icon-config"><span>Inter. Standard Info</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-display"><span>Finalize</span></a></li>
                    </ul>
                </nav>
                @Html.ValidationSummary(true)
                <div class="content-wrap">
                    <section id="section-bar-1">
                        <!-- Start Building Recipe Section -->
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Build Your Intermediate Standard</h4>
                        </div>
                        <div id="build-recipe">
                            <div class="row" style="margin:0 !important">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"></div>
                                            <select name="Type" class="input-xlarge-fuid input-summary form-control valid no-border-radius">
                                                <option>No Chemical Type Selected</option>
                                                <optgroup label="Item Type">
                                                    @foreach (var item in ViewBag.Types) {
                                                        <option>
                                                            @item
                                                        </option>
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input name="Amount" type="text" class="input-summary form-control text-box single-line no-border-radius" placeholder="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input name="IdCode" type="text" class="input-summary form-control text-box single-line no-border-radius" placeholder="Lot #" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin:0 !important">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"></div>
                                            <select name="Type" class="input-xlarge-fuid input-summary form-control valid no-border-radius">
                                                <option>No Chemical Type Selected</option>
                                                <optgroup label="Item Type">
                                                    @foreach (var item in ViewBag.Types) {
                                                        <option value="@item">
                                                            @item
                                                        </option>
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input name="Amount" type="text" class="input-summary form-control text-box single-line no-border-radius" placeholder="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input name="IdCode" type="text" class="input-summary form-control text-box single-line no-border-radius" placeholder="Lot #" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin:0 !important">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"></div>
                                            <select name="Type" class="input-xlarge-fuid input-summary form-control valid no-border-radius">
                                                <option>No Chemical Type Selected</option>
                                                <optgroup label="Item Type">
                                                    @foreach (var item in ViewBag.Types) {
                                                        <option value="@item">
                                                            @item
                                                        </option>
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input name="Amount" type="text" class="input-summary form-control text-box single-line no-border-radius" placeholder="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        <input name="IdCode" type="text" class="input-summary form-control text-box single-line no-border-radius" placeholder="Lot #" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="#" id="another-item" class="btn btn-default">Add</a>
                                    <a href="#" id="remove-item" class="btn btn-default">Remove</a>
                                </div>
                            </div>
                        </div>
                        <!-- /End Recipe Section -->
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Intermediate Standard Information</h4>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        @Html.EditorFor(model => model.Replaces, new { htmlAttributes = new { @placeholder = "Replaces", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.Replaces)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        @Html.EditorFor(model => model.ReplacedBy, new { htmlAttributes = new { @placeholder = "Replaced By", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.ReplacedBy)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.CaseNumber, new { htmlAttributes = new { @placeholder = "Case Number", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.CaseNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.UsedFor, new { htmlAttributes = new { @placeholder = "Used For", @rows = 6, @style = "resize:none;", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.UsedFor)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.CatalogueCode, new { htmlAttributes = new { @placeholder = "Catalogue Code", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.CatalogueCode)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.InventoryItemName, new { htmlAttributes = new { @placeholder = "Inventory Item Name", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.InventoryItemName)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @placeholder = "Total Amount", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.TotalAmount)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @placeholder = "Grade", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.Grade)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @placeholder = "Date Created", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.DateCreated)
                                        <div class="input-group-addon">Date Created</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.DateModified, new { htmlAttributes = new { @placeholder = "Date Modified", @class = "input-summary form-control"} })
                                        @Html.ValidationMessageFor(model => model.DateModified)
                                        <div class="input-group-addon">Date Modified</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href='#section-bar-2' class="btn btn-default next-section btn-review">Review and Submit</a>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-2">
                        <div class="form-group">
                            <div class="page-header">
                                <div class="container">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Field</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-3">
                                    <a href='#section-bar-2' class="btn btn-default previous-section" style="margin:0 10px 0 30px;">Cancel</a>
                                    <input name="submit" type="submit" class="btn btn-default" value="Save" />
                                    <input name="submit" type="submit" class="btn btn-default" value="Save & New" />
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Print Label?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- /content -->
            </div><!-- /tabs -->
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")

        @section scripts
            {
            }
    </div>
}