@model TMNT.Models.ViewModels.IntermediateStandardCreateViewModel

@{
    ViewBag.Title = "Create";
}

@section AddToHead {
    @Styles.Render("~/maxxam-forms")
}

@using (Html.BeginForm(Html.BeginForm("Create", "IntermediateStandard", null, FormMethod.Post, new { enctype = "multipart/form-data" }))) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    New Intermediate Standard
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Intermediate Standards / <i class="fa fa-star-o"></i> New Intermediate Standard
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "IntermediateStandard", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li><a href="#section-bar-1" class="icon icon-config"><span>Inter. Standard Info</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-display"><span>Finalize</span></a></li>
                    </ul>
                </nav>
                <div class="content-wrap">
                    <section id="section-bar-1">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <!-- Start Building Recipe Section -->
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top: 5px; padding-bottom: 5px; color: #00000f">Build Your Intermediate Standard</h4>
                        </div>
                        <div id="build-recipe">
                            <div class="col-md-4">
                                <div class="alert alert-info no-border-radius">
                                    <h4 class="text-center">Prep List Item</h4>
                                    <hr />
                                    <div class="form-group zero-left-right-margin">
                                        <div class="input-group">
                                            <div class="input-group-addon"></div>
                                            <select id="ChemicalType" class="type-validation input-xlarge-fuid form-control valid no-border-radius">
                                                <option value="">Choose Chemical Type</option>
                                                <optgroup label="Item Type">
                                                    @foreach (var item in Model.ChemicalTypes) {
                                                        <option value="@item">
                                                            @item
                                                        </option>
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group zero-left-right-margin">
                                        <div class="input-group">
                                            <div class="input-group-addon"></div>
                                            @*<input type="text" class="input-summary form-control text-box single-line no-border-radius" placeholder="ID Code" />*@
                                            @Html.EditorFor(model => model.IdCode, new { htmlAttributes = new { @class = "form-control text-box single-line no-border-radius", @placeholder = "ID Code" } })
                                        </div>
                                    </div>
                                    <div class="form-group zero-left-right-margin">
                                        <div class="input-group">
                                            <div class="input-group-addon"></div>
                                            <input name="Amount" id="Amount" type="number" min="0" class="form-control text-box single-line no-border-radius" placeholder="Amount" />
                                            <div class="input-group-btn">
                                                <select name="Unit" id="Units" class="type-validation input-xlarge-fuid form-control valid no-border-radius" style="width:120px;">
                                                    <option value="">Units</option>
                                                    <optgroup label="Weights">
                                                        @foreach (var item in Model.WeightUnits) {
                                                            <option value="@item.UnitId">
                                                                @item.UnitShorthandName
                                                            </option>
                                                        }
                                                    </optgroup>
                                                    <optgroup label="Volumes">
                                                        @foreach (var item in Model.VolumetricUnits) {
                                                            <option value="@item.UnitId">
                                                                @item.UnitShorthandName
                                                            </option>
                                                        }
                                                    </optgroup>
                                                    <optgroup label="Other">
                                                        <option value="Other">@Model.OtherUnit.UnitShorthandName</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group zero-left-right-margin">
                                        <a href="#" id="another-item" class="btn btn-primary">Add Item</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="alert alert-info no-border-radius">
                                    <h4 class="text-center">Recipe List</h4>
                                    <hr />
                                    <div style="font-size:14px;">
                                        <table id="recipe-table" class="table alert-success table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Item #</th>
                                                    <th>Chemical Type</th>
                                                    <th>ID Code</th>
                                                    <th>Amount</th>
                                                    <th>Remove Item</th>
                                                </tr>
                                            </thead>
                                            <tbody id="recipe-tbody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row" style="margin:0 !important">
                <div class="col-md-2-5">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon addon-required" title="Required Field"></div>
                            <select name="Type" class="type-validation input-xlarge-fuid input-summary form-control valid no-border-radius required-field">
                                <option value="">Choose Chemical Type</option>
                                <optgroup label="Item Type">
                                    @foreach (var item in ViewBag.Types) {
                                        <option value="@item">
                                            @item
                                        </option>
                                    }
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon addon-required" title="Required Field"></div>
                        <input name="Amount" type="number" min="0" class="input-summary form-control text-box single-line no-border-radius required-field" placeholder="Amount" />
                        <div class="input-group-btn">
                            <select name="Unit" class="type-validation input-xlarge-fuid input-summary form-control valid no-border-radius required-field" style="width:90px;">
                                <option value="">Units</option>
                                <optgroup label="Weights">
                                    @foreach (var item in ViewBag.WeightUnits) {
                                        <option value="@item.UnitId">
                                            @item.UnitShorthandName
                                        </option>
                                    }
                                </optgroup>
                                <optgroup label="Volumes">
                                    @foreach (var item in ViewBag.VolumeUnits) {
                                        <option value="@item.UnitId">
                                            @item.UnitShorthandName
                                        </option>
                                    }
                                </optgroup>
                                <optgroup label="Other">
                                    <option value="Other">@ViewBag.OtherUnit.UnitShorthandName</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-2-5 input-no-left-padding">
                    <div class="input-group">
                        <div class="input-group-addon addon-required" title="Required Field"></div>
                        <input name="IdCode" type="text" class="input-summary form-control text-box single-line no-border-radius required-field" placeholder="ID Code" />
                    </div>
                </div>
                <div class="col-md-2-5 input-no-left-padding">
                    <a href="#" id="another-item" class="btn btn-default">Add</a>
                    <a disabled="disabled" href="#" id="remove-item" class="btn btn-default">Remove</a>
                </div>
            </div>*@



                        </div>
                        <!-- /End Recipe Section -->
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Intermediate Standard Information</h4>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        @Html.EditorFor(model => model.Replaces, new { htmlAttributes = new { @placeholder = "Replaces", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.Replaces)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        @Html.EditorFor(model => model.ReplacedBy, new { htmlAttributes = new { @placeholder = "Replaced By", @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.ReplacedBy)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.UsedFor, new { htmlAttributes = new { @placeholder = "Used For", @rows = 6, @style = "resize:none;", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.UsedFor)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        <select id="storage-locations" name="Storage" class="form-control no-border-radius required-field input-summary">
                                            <option value="">Storage Requirement..</option>
                                            <optgroup label="Storage Req's'">
                                                @foreach (var item in Model.Storage) {
                                                    <option value="@item">
                                                        @item
                                                    </option>
                                                }
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @placeholder = "Total Amount", @class = "input-summary form-control required-field", @Value = "" } })
                                        @Html.ValidationMessageFor(model => model.TotalAmount)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "input-summary form-control required-field", @Value = "" } })
                                        <div class="input-group-addon input-group-addon-md">Expiry Date</div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ExpiryDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.MaxxamId, new { htmlAttributes = new { @placeholder = "Maxxam ID", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.MaxxamId)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.IdCode, new { htmlAttributes = new { @placeholder = "ID Code", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.IdCode)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.FinalConcentration, new { htmlAttributes = new { @placeholder = "Final Concentration", @class = "input-summary form-control required-field", @Value = "" } })
                                        @Html.ValidationMessageFor(model => model.FinalConcentration)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required" title="Required Field"></div>
                                        @Html.EditorFor(model => model.FinalVolume, new { htmlAttributes = new { @placeholder = "Final Volume", @class = "input-summary form-control required-field", @Value = "" } })
                                        @Html.ValidationMessageFor(model => model.FinalVolume)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href='#section-bar-2' class="btn btn-default next-section btn-next btn-review">Review and Submit</a>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10" style="padding-top:20px;">
                                <a href='#section-bar-2' disabled="disabled" class="btn btn-default next-section btn-next btn-review">Review and Submit</a>
                            </div>
                            <div class="col-md-offset-1 col-md-10">
                                <div id="button-message" class="pull-right button-message-error">Fill out required fields.</div>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-2">
                        <div class="form-group">
                            <div class="container">
                                <table class="table table-bordered table-striped summary-table">
                                    <thead>
                                        <tr>
                                            <th>Field</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size:14px;"></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="button" href='#section-bar-2' value="Cancel" class="btn btn-warning previous-section" />
                                    <input name="submit" type="submit" class="btn btn-primary" value="Save" />
                                    <input name="submit" type="submit" class="btn btn-primary" value="Save & New" />
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default center-block active"><input type="radio">Print Label</label>
                                        <label class="btn btn-default center-block"><input type="radio">Don't Print Label</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- /content -->
            </div><!-- /tabs -->
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var ChemicalType = $('#ChemicalType');
            var IdCode = $('#IdCode');
            var Amount = $('#Amount');
            var Units = $('#Units');

            var Recipes = $('#build-recipe');
            var RecipeTable = $('#recipe-table');
            var AddItem = $('#another-item');
            var RemoveItem = $('.recipe-table-remove-item');

            var ItemCount = 1;
            var Append;

            if ($('#recipe-table tbody tr').length == 0) {
                RecipeTable.append("<tr class='text-center recipe-table-no-data'><td colspan='5'>Add Ingredients</td></tr>");
            }

            Recipes.on('click', '#another-item', function (e) {
                e.preventDefault();

                var amount = Amount.val().toString() + " " + Units.find("option:selected").text().trim();

                Append = "";
                Append += "<tr><td style='width:83px'>" + ItemCount + "</td>" +
                        "<td style='width:169px'><input name='PrepListItemTypes' style='border:none;background:transparent;color:#3a87ad;width:80%' type='text' readonly='readonly' value='" + ChemicalType.val() + "'/></td>" +
                         "<td style='width:101px'><input name='PrepListItemIdCodes' style='border:none;background:transparent;color:#3a87ad;width:80%' type='text' readonly='readonly' value='" + IdCode.val() + "'/></td>" +
                        "<td style='width:102px'><input name='PrepListItemAmounts' style='border:none;background:transparent;color:#3a87ad;' type='text' readonly='readonly' value='" + amount + "'/></td>" +
                        "<td style='width:151px'><a class='recipe-table-remove-item' href='#'><i class='fa fa-close'></i>&nbsp;&nbsp;Remove</a></td></tr>";
                RecipeTable.append(Append);

                if ($('#recipe-table tbody tr').length > 0) {
                    $('#recipe-table tbody tr.recipe-table-no-data').css('display', 'none');
                }

                //clear inputs
                ChemicalType.val("");
                IdCode.val("");
                Amount.val("");
                Units.val("");

                ItemCount++;
            });

            Recipes.on('click', '.recipe-table-remove-item', function (e) {
                e.preventDefault();

                var anchor = $(this).find('.recipe-table-remove-item').index() + 1;
                $(this).parents('tr').remove();

                if ($('#recipe-table tbody tr').length == 1) {
                    console.log("test");
                    $('#recipe-table tbody tr.recipe-table-no-data').css('display', 'table-row');
                }
                ItemCount--;
            });
        });
    </script>
    @*<script src="~/Scripts/CustomMaxxamJS/intermediate-standard-form-validation.js"></script>*@
}