@model TMNT.Models.ViewModels.IntermediateStandardViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.IdCode Intermediate Standard Details
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-balance-scale"></i> Intermediate Standards / <i class="fa fa-clipboard"></i> @Model.IdCode Intermediate Standard Details
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "IntermediateStandard", htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<div class="col-md-12" style="background-color: lightgrey;">
    <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Prep List Table</h4>
</div>

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>Item Type</th>
            <th>Item ID Code</th>
            <th>Item Name</th>
            <th>Amount Taken</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PrepListItems) {
            <tr>
                @if (item.StockReagent != null) {
                    <td>
                        @Html.ActionLink("Details", "Details", "Reagent", null, new { id = item.StockReagent.ReagentId })
                    </td>
                    <td>
                        Stock Reagent
                    </td>
                    <td>
                        @item.StockReagent.IdCode
                    </td>
                    <td>
                        @item.StockReagent.ReagentName
                    </td>
                }

                @if (item.StockStandard != null) {
                    <td>
                        @Html.ActionLink("Details", "Details", "Standard", null, new { id = item.StockStandard.StockStandardId })
                    </td>
                    <td>
                        Stock Standard
                    </td>
                    <td>
                        @item.StockStandard.IdCode
                    </td>
                    <td>
                        @item.StockStandard.StockStandardName
                    </td>
                }

                @if (item.IntermediateStandard != null) {
                    <td>
                        @Html.ActionLink("Details", "Details", "IntermediateStandard", null, new { id = item.IntermediateStandard.IntermediateStandardId })
                    </td>
                    <td>
                        Stock Intermediate Standard
                    </td>
                    <td>
                        @item.IntermediateStandard.IdCode
                    </td>
                    <td>
                        @item.IntermediateStandard.IntermediateStandardId
                    </td>
                }
                <td>
                    @item.Amount
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

<div class="col-md-12" style="background-color: lightgrey;">
    <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Intermediate Standard Information</h4>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount) Remaining
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        @if (Model.Replaces == null) {
            <dt>
                Replaces
            </dt>

            <dd>
                N/A
            </dd>
        } else {
            <dt>
                @Html.DisplayNameFor(model => model.Replaces)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Replaces)
            </dd>
        }

        @if (Model.Replaces == null) {
            <dt>
                Replaced By
            </dt>

            <dd>
                N/A
            </dd>
        } else {
            <dt>
                @Html.DisplayNameFor(model => model.ReplacedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReplacedBy)
            </dd>
        }

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntermediateStandardId })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>