@model TMNT.Models.IntermediateStandard

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IntermediateStandard</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IntermediateStandardId)

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated)
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscardDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscardDate)
                @Html.ValidationMessageFor(model => model.DiscardDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Replaces, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Replaces)
                @Html.ValidationMessageFor(model => model.Replaces)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplacedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplacedBy)
                @Html.ValidationMessageFor(model => model.ReplacedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>