@model IEnumerable<TMNT.Models.ViewModels.IntermediateStandardIndexViewModel>

@{
    ViewBag.Title = "Index";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            Intermediate Standards
        </h1>
        <ol class="breadcrumb no-border-radius">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Intermediate Standards
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("New Intermediate Standard", "Create", "IntermediateStandard", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<table id="myTable" class="table table-bordered table-striped table-index">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IntermediateStandardId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IntermediateStandardId }) |
                    <a href="#">Print Label</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                @if (item.DateOpened == null) {
                    <td>
                        TBD
                        <span class="fa fa-question-circle text-warning" title="To Be Determined"></span>
                    </td>
                } else {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOpened)
                    </td>
                }

                @if (item.Replaces == null) {
                    <td>
                        N/A
                    </td>
                } else {
                    <td>
                        @Html.DisplayFor(modelItem => item.Replaces)
                    </td>
                }
                
                @if (item.ReplacedBy == null) {
                    <td>
                        N/A
                    </td>
                } else {
                    <td>
                        @Html.DisplayFor(modelItem => item.ReplacedBy)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.IdCode)
                </td>
                @if (item.IsExpired) {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                        <span class="fa fa-exclamation-triangle text-danger" title="Expired"></span>
                    </td>
                } else if (item.IsExpiring) {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                        <span class="fa fa-exclamation-triangle text-warning" title="Expiring"></span>
                    </td>
                } else if (item.ExpiryDate == null) {
                    <td>
                        TBD
                        <span class="fa fa-question-circle text-warning" title="To Be Determined"></span>
                    </td>
                } else {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                        <span class="fa fa-check-circle text-success" title="Valid"></span>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
        </tr>
    </tfoot>
</table>
@Scripts.Render("~/datatables")