@model IEnumerable<TMNT.Models.IntermediateStandard>

@{
    ViewBag.Title = "Index";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Intermediate Standards
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Intermediate Standards
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("New Intermediate", "Create", "IntermediateStandard", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount) Remaining
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IntermediateStandardId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IntermediateStandardId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Replaces)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplacedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)@Html.DisplayFor(modelItem => item.Unit.UnitShorthandName)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount) Remaining
            </th>
        </tr>
    </tfoot>
</table>
@Scripts.Render("~/datatables")