@model TMNT.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "";
}

<link href="~/Content/login-styles.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .form-signin-heading {
        color: #fff;
    }

    body {
        background: #1081C1;
        overflow: hidden;
    }

    .vertical-center {
        height: 335px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    @@media screen and (min-width:510px) {
        hr {
            display: none;
        }

        .vertical-center {
            height: 385px;
            border: none;
        }

        input:not([type=submit]) {
            width: 100%;
            height: 60px;
            font-size: 16px;
        }

        input[type=submit] {
            width: 100%;
            height: 60px;
            font-size: 16px;
        }

        .control-label {
            font-size: 16px !important;
        }
    }

    @@media screen and (min-width:768px) {
        input {
            height:90px !important;
            font-size:36px !important;
        }

        .form-signin-heading {
            font-size:48px !important;
        }

        .control-label {
            font-size:28px !important;
        }
    }

    @@media screen and (min-width:992px) {
        input[type=submit] {
            background: #005497;
            border: 1px solid #008997;
            width: 83%;
            height:60px;
        }

        input {
            height:60px;
        }
    }

    @@media screen and (min-width:1200px) {
        body {
            background: #fff;
        }

        .vertical-center {
            background-color: rgba(133, 133, 133, 0.7);
            height: 340px;
        }

        hr {
            display: block;
            border: 1px solid #fff;
        }

        input:not([type=submit]) {
            width: 100%;
            height: 60px;
            font-size: 16px;
        }

        input[type=submit] {
            width: 100%;
            height: 60px;
            font-size: 16px;
        }
    }
</style>

<div class="container">
    @using (Html.BeginForm("ChangePasswordFirstTime", "Manage", FormMethod.Post, new { @class = "form-horizontal form-signin", role = "form" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="vertical-center">
            <div class="container">
                <div class="col-md-10 col-md-offset-2">
                    <h2 class="text-center form-signin-heading">Change Your Password</h2>
                    <hr />
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control no-border-radius" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control no-border-radius" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" class="pull-right btn btn-primary" value="Change & Login" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>