@model TMNT.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    //Layout = "";
}

@*<link href="~/Content/login-styles.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
.navbar, .footer {
    display: none;
}

    #wrapper {
        padding: 0;
        margin-top: 0;
    }

    #page-wrapper {
        background-color: transparent;
        border: none !important;
        margin: 0 !important;
    }

    .form-signin-heading {
        color: #fff;
    }

    .no-border-radius {
        border-radius: 0;
    }

    body {
        background: #1081C1;
        overflow: hidden;
    }

    .vertical-center {
        height: 335px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    input[type=submit] {
        width: 100%;
        background: #005497;
        border:none;
    }

    @@media (max-width: 640px) and (orientation: portrait) {
        .vertical-center {
            width: 90%;
            height: 265px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        #loginForm {
            padding-left: 15px;
            padding-right: 15px;
            height: 180px;
        }

        .form-control {
            width: 100%;
            height: 60px;
            font-size: 16px;
        }

        input[type=submit] {
            width: 100%;
            height: 60px;
            font-size: 18px;
            color:#fff;
            letter-spacing:1px;    
            border: 1px solid #008997;
        }

        h3 {
            color:#fff;
        }
    }

    @@media (max-width: 992px) and (min-width: 641px) {
        .vertical-center {
            width: 80%;
            height: 265px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        #loginForm {
            padding-left: 15px;
            padding-right: 15px;
            height: 180px;
        }

        .form-control {
            width: 100%;
            height: 60px;
            font-size: 16px;
        }

        input[type=submit] {
            width: 100%;
            height: 60px;
            font-size: 18px;
            color:#fff;
            letter-spacing:1px;    
            border: 1px solid #008997;
        }

        h3 {
            color:#fff;
        }
    }

    @@media screen and (min-width:992px) {
        body {
            background: #fff;
        }

        /*.vertical-center {
            background-color: rgba(133, 133, 133, 0.7);
            height: 340px;
            width:100%;
        }*/

        #vertical-center-wrapper {
            width:100%;
            background-color: rgba(133, 133, 133, 0.7);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .vertical-center {
            background-color: rgba(133, 133, 133, 0.7);
            width: 40%;
            height: 370px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        #loginForm {
            padding-left: 15px;
            padding-right: 15px;
            height: 180px;
        }

        .form-control {
            width: 100%;
            height: 60px;
            font-size: 16px;
        }

        h3 {
            color:#fff;
        }

        hr {
            display: block;
            border: 1px solid #fff;
        }

        input:not([type=submit]) {
            width: 100%;
            height: 45px;
            font-size: 14px;
        }

        input[type=submit] {
            width: 100%;
            height: 45px;
            font-size: 16px;
            color:#fff;
            letter-spacing:1px;    
            border: 1px solid #008997;
        }
    }
</style>

    @using (Html.BeginForm("ChangePasswordFirstTime", "Manage", FormMethod.Post, new { @class = "form-horizontal form-signin", role = "form" })) {
        @Html.AntiForgeryToken()

        <div class="row">
            <div id="vertical-center-wrapper">
                <div class="col-md-5 vertical-center">
                    <h3 class="text-center">Change Your Password</h3>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <section id="loginForm">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon no-border-radius"><i class="fa fa-key fa-fw"></i></span>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control no-border-radius", @placeholder = "Enter New Password" })
                                </div>
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon no-border-radius"><i class="fa fa-check fa-fw"></i></span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control no-border-radius", @placeholder = "Confirm New Password" })
                                </div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "" })
                            </div>
                        </div>
                        @*<div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="checkbox">
                            @if (@ViewBag.Username != "") {
                                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = true })
                                @Html.LabelFor(m => m.RememberMe)
                            } else {
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            }
                        </div>
                    </div>
                </div>*@
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Change" class="btn btn-default no-border-radius" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>


        @*<div class="vertical-center">
                <div class="container">
                    <div class="col-md-10 col-md-offset-2">
                        <h2 class="text-center form-signin-heading">Change Your Password</h2>
                        <hr />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control no-border-radius" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control no-border-radius" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="pull-right btn btn-primary no-border-radius" value="Change & Login" />
                        </div>
                    </div>
                </div>
            </div>*@
    }