@model TMNT.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "";
}

<link href="~/Content/maxxam-forms.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    hr {
        border: 1px solid #fff;
    }

    .navbar {
        display:none;
    }

    #page-wrapper {
        background-color: transparent;
        border: none !important;
        margin: 0 !important;
    }

    .footer {
        display: none;
    }

    body {
        overflow-y: hidden;

    }

    .form-signin {
        max-width: 700px;
    }

    .vertical-center {
        width: 70%;
        height: 365px;
        border:5px solid #ececec;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background:#eee;
    }
</style>

<div class="container">
    @using (Html.BeginForm("ChangePasswordFirstTime", "Manage", FormMethod.Post, new { @class = "form-horizontal form-signin", role = "form" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="vertical-center">
            <div class="container">
                <h2 class="text-center form-signin-heading">Change Your Password</h2>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control no-border-radius" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control no-border-radius" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control no-border-radius" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" class="pull-right btn btn-primary" value="Change & Login" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>