@model TMNT.Models.ViewModels.StockReagentViewModel

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />

@section AddToHead {
    @Styles.Render("~/maxxam-forms")
}

@using (Html.BeginForm("Create", "Reagent", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    New Stock Reagent
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Reagents / <i class="fa fa-star-o"></i> New Stock Reagent
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "Reagent", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li><a href="#section-bar-1" class="icon icon-config"><span>Reagent Info</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-upload"><span>Uploads</span></a></li>
                        <li><a href="#section-bar-3" class="icon icon-display"><span>Finalize</span></a></li>
                    </ul>
                </nav>
                @Html.ValidationSummary(true)
                <div class="content-wrap">
                    <!-- REAGENT INFO -->
                    <section id="section-bar-1" class="section">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.IdCode, new { htmlAttributes = new { @placeholder = "ID Code", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.IdCode)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.ReagentName, new { htmlAttributes = new { @placeholder = "Reagent Name", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.ReagentName)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.UsedFor, new { htmlAttributes = new { @placeholder = "Used For", @style = "resize:none;", @rows = 6, @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.UsedFor)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        <select id="storage-locations" name="Storage" class="form-control no-border-radius required-field input-summary">
                                            <option value="">Choose Storage Requirement..</option>
                                            <optgroup label="Storage Req's'">
                                                @foreach (var item in ViewBag.Storage) {
                                                    <option value="@item">
                                                        @item
                                                    </option>
                                                }
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @placeholder = "Lot #", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.LotNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.CatalogueCode, new { htmlAttributes = new { @placeholder = "Catalogue Code", @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.CatalogueCode)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        <select id="device-selector" name="Devices" class="select2 form-control no-border-radius required-field input-summary" multiple="multiple">
                                            <optgroup label="Balance ID's">
                                                @foreach (var item in ViewBag.BalanceDevices) {
                                                    <option value="@item.DeviceCode">
                                                        @item.DeviceCode
                                                    </option>
                                                }
                                            </optgroup>
                                            <optgroup label="Volumetric ID's">
                                                @foreach (var item in ViewBag.VolumeDevices) {
                                                    <option value="@item.DeviceCode">
                                                        @item.DeviceCode
                                                    </option>
                                                }
                                                <option value="VOL902-W">VOL902-W</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon addon-required"></div>
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @placeholder = "Amount", @min = 0, @class = "input-summary form-control required-field" } })
                                        @Html.ValidationMessageFor(model => model.Amount)
                                        <div class="input-group-addon" style="padding:0; border:none; width:33%;">
                                            <select class="input-xlarge-fluid input-summary form-control required-field" id="Unit" name="Unit" aria-invalid="false">
                                                <option value="">Select Metric</option>
                                                <optgroup label="Weight">
                                                    @foreach (var item in ViewBag.WeightUnits) {
                                                        <option value="@item.UnitId">
                                                            @item.UnitShorthandName
                                                        </option>
                                                    }
                                                </optgroup>
                                                <optgroup label="Volume">
                                                    @foreach (var item in ViewBag.VolumeUnits) {
                                                        <option value="@item.UnitId">
                                                            @item.UnitShorthandName
                                                        </option>
                                                    }
                                                </optgroup>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon"></div>
                                        @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @placeholder = "Grade", @min = 0, @class = "input-summary form-control" } })
                                        @Html.ValidationMessageFor(model => model.Grade)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-1 col-md-10" style="padding-top:20px;">
                                <a href='#section-bar-2' class="btn btn-default next-section btn-next">Next »</a>
                            </div>
                        </div>
                    </section>
                    <!-- UPLOADS -->
                    <section id="section-bar-2">
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f">Upload Certificate of Analysis and Safety Data Sheet</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon addon-required"></div>
                                    <input type="file" id="CertificateOfAnalysis" name="uploadCofA" class="form-control btn btn-default" accept=".pdf" />
                                    <div class="input-group-addon input-group-addon-md">Upload CofA</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon addon-required"></div>
                                    <input type="file" id="MSDS" name="uploadMSDS" class="form-control btn btn-default" accept=".pdf" />
                                    <div class="input-group-addon input-group-addon-md">Upload SDS</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="background-color: lightgrey;">
                            <h4 style="padding-top:5px;padding-bottom:5px;color:#00000f;margin-top:45px;">Safety Data Sheet Information</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon addon-required"></div>
                                    @Html.EditorFor(model => model.MSDSExpiryDate, new { htmlAttributes = new { @class = "input-summary form-control no-border-radius" } })
                                    <div class="input-group-addon input-group-addon-md">SDS Expiry</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon addon-required"></div>
                                    @Html.EditorFor(model => model.MSDSNotes, new { htmlAttributes = new { @rows = 2, @style = "resize:none;", @placeholder = "SDS Notes", @class = "input-summary form-control no-border-radius", @maxlength = 50 } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-1 col-md-10" style="padding-top:20px;">
                                <a href='#section-bar-4' class="btn btn-default next-section btn-review">Review and Submit</a>
                                <a href='#section-bar-1' class="btn btn-default previous-section">« Previous</a>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-3">
                        <div class="form-group">
                            <div class="page-header">
                                <div class="container">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Field</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-3">
                                        <a href='#section-bar-2' class="btn btn-default previous-section" style="margin:0 10px 0 30px;">Cancel</a>
                                        <input name="submit" type="submit" class="btn btn-default" value="Save" />
                                        <input name="submit" type="submit" class="btn btn-default" value="Save & New" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Print Label?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- /content -->
            </div><!-- /tabs -->
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        $(".select2").select2({
            placeholder: "Devices Used..",
            allowClear: true,
            maximumSelectionLength: 2
        });
    });
</script>