@model IEnumerable<TMNT.Models.ViewModels.StockReagentIndexViewModel>

@{
    ViewBag.Title = "Index";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            Stock Reagents
        </h1>
        <ol class="breadcrumb no-border-radius">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Stock Reagents
            </li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("New Reagent", "Create", "Reagent", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />
<table id="myTable" class="table table-bordered table-striped table-index">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.ReagentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogueCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReagentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReagentId })
                    @*@Html.ActionLink("Top-Up", "Topup", new { id = item.ReagentId }) |*@
                    @*<a href="#">Print Label</a>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReagentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatalogueCode)
                </td>
                    @if (item.DateOpened == null) {
                        <td>
                            TBD
                            <span class="fa fa-question-circle text-warning" title="To Be Determined"></span>
                        </td>
                    } else {
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOpened)
                        </td>
                    }
                <td>
                    @Html.DisplayFor(modelItem => item.IdCode)
                </td>
                @if (item.IsExpired) {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                        <span class="fa fa-exclamation-triangle text-danger" title="Expired"></span>
                    </td>
                } else if (item.IsExpiring) {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                        <span class="fa fa-exclamation-triangle text-warning" title="Expiring"></span>
                    </td>
                } else if (item.ExpiryDate == null) {
                    <td>
                        TBD
                        <span class="fa fa-question-circle text-warning" title="To Be Determined"></span>
                    </td>
                } else {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                        <span class="fa fa-check-circle text-success" title="Valid"></span>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.ReagentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogueCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
        </tr>
    </tfoot>
</table>
@Scripts.Render("~/datatables")