@model IEnumerable<TMNT.Models.StockReagent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Reagent", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.IdCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEntered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReagentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReagentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReagentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReagentId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEntered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReagentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredBy)
        </td>
    </tr>
}
</table>