<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .modal-dialog {
            width:70% !important; /*900px !important;*/
        }
        .modal-body {
            max-height:745px !important;
            overflow-y:auto;
        }

        #help-options {
            width: 60%;
        }
    </style>
    <title>Maxxam Analytics - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @if (IsSectionDefined("AddToHead")) {
        @RenderSection("AddToHead", required: false)
    }

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src='@Url.Content("~/Content/Images/maxxam.png")' style="margin:3px 0 0 25px" />
                </a>
            </div>
            <!-- /.navbar-header -->
            @*<div class="text-center" style="position:absolute;width:100%;top:15px;font-size:18px;">
                Demo - Version 0.2.45
            </div>*@
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @if (HttpContext.Current.User.Identity.Name != null) {
                              @HttpContext.Current.User.Identity.Name
                        }
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("ViewProfile", "Account", new { id = @HttpContext.Current.User.Identity.Name})"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        @*<li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>*@
                        <li class="divider"></li>
                        <li>
                            <a href='@Url.Action("LogOff", "Account")'><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href='@Url.Action("Index", "Home")'><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-flask fa-fw"></i> Reagents<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Reagent")"><i class="fa fa-fw fa-flask"></i> Stock Reagents</a>
                                </li>
                                @*<li>
                                    <a href='@Url.Action("Index", "PreparedReagent")'>&nbsp;<i class="fa fa-flask"></i>&nbsp; Prepared Reagents</a>
                                    <a href='#'>&nbsp;<i class="fa fa-flask"></i>&nbsp; Prepared Reagents</a>
                                </li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-flask fa-fw"></i> Standards<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Standard")"><i class="fa fa-fw fa-flask"></i> Stock Standards</a>
                                </li>
                              @*<li>
                                    <a href='@Url.Action("Index", "PreparedStandard")'>&nbsp;<i class="fa fa-flask"></i>&nbsp; Prepared Standards</a>
                                    <a href='#'>&nbsp;<i class="fa fa-flask"></i>&nbsp; Prepared Standards</a>
                               </li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "IntermediateStandard")"><i class="fa fa-fw fa-flask"></i> Intermediate Standards</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "WorkingStandard")"><i class="fa fa-fw fa-flask"></i> Working Standards</a>
                        </li>

                        <li>
                            <a href="@Url.Action("ReportDashboard", "Reports")" target="_blank"><i class="fa fa-fw fa-file-text"></i> Report Dashboard</a>
                            @*<ul class="nav nav-second-level">
                                <li>
                                    <a href='@Url.Action("DeviceVerificationReport", "Reports")' target="_blank">Device Verification Report</a>
                                    <a href='#' target="_blank">Device Verification Report</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CalibrationReport", "Reports")'>Calibration Report</a>
                                    <a href='#'>Calibration Report</a>
                                </li>
                            </ul>*@
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Devices<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href='@Url.Action("Index", "Balances")'><i class="fa fa-balance-scale"></i> Balances</a>
                                    @*<a href='#'><i class="fa fa-balance-scale"></i> Balances</a>*@
                                </li>
                                @*<li>
                                    <a href='@Url.Action("Index", "SyringeTest")'>&nbsp;<i class="fa fa-genderless"></i>&nbsp; Volumetric Devices</a>
                                    <a href='#'>&nbsp;<i class="fa fa-genderless"></i>&nbsp; Volumetric Devices</a>
                                </li>*@
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        @*<li>
                            <a href="@Url.Action("Index", "Feedback")"><i class="fa fa-fw fa-lightbulb-o"></i> Ideas</a>
                        </li>*@
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-question-circle"></i> Help</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!--Bringing in all jQuery and rendering the Body-->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/js")
        <script src="~/Scripts/CustomMaxxamJS/help-me.js"></script>
        @RenderSection("scripts", required: false)
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <div class="row footer">
                    <hr />
                    <div class="footer-container">
                        <p class="text-muted">
                            Tortuga &copy;<br />
                            All Rights Reserved
                            <span id="date-today"></span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Maxxam Help</h3>
                </div>
                <div class="modal-body">
                    <p>Welcome to the Maxxam Help section! Here you will find out how things work and, hopefully, answer any questions you may have.</p>
                    <p>Please choose the topic you need help with:
                        <select id="help-options" class="form-control">
                            <option value="">Choose a topic..</option>
                            <optgroup label="Reagent and Standard">
                                <option value="RSCreate">Create</option>
                                <option value="RSDetails">Details</option>
                                <option value="RSEdit">Edit</option>
                            </optgroup>
                            <optgroup label="Intermediate and Working Standard">
                                <option value="ISCreate">Create</option>
                                <option value="ISDetails">Details</option>
                                <option value="ISEdit">Edit</option>
                            </optgroup>
                            <optgroup label="Balances">
                                <option value="BVCreate">Verification</option>
                                <option value="BVCreate">Create</option>
                                <option value="ISDetails">Details</option>
                                <option value="ISEdit">Edit</option>
                            </optgroup>
                        </select>
                    </p>
                    <div id="help-notes">

                    </div>
                </div>
                <div class="modal-footer">
                    Okay? &nbsp;<button type="button" class="btn btn-primary" data-dismiss="modal">Yep, Got It!</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(function() {
            document.getElementById('date-today').innerHTML = new Date().getFullYear();

            //further preventing clicks of anchors with # as href to disallow the menu looking messed up during UAT
            $('a[href="#"]').on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
</body>
</html>