@model TMNT.Models.ViewModels.AuditViewModel

@section AddToHead {
    <link href="~/Content/jquery.jOrgChart.css" rel="stylesheet" />
    <style>
        #chemical-map-container {
            padding:40px;
        }

        .jOrgChart .node {
            color:#fff;
            width: 250px;
            min-height: 125px;
            background-color:#f8f8f8;
        }

        .node a {
            margin-top: 20px;
        }

        .node.WorkingStandard{
            border: 5px solid #428BCA;
        }

        .node.IntermediateStandard{
            border: 5px solid #B94A48;
            
        }

        .node.Standard{
            border: 5px solid #5CB85C;
        }

        .node.Reagent{
            border: 5px solid #EED3D7;
        }

        .jOrgChart > table {
            margin:0 auto;
        }
    </style>
}

@section scripts {
    <script>
        $(function () {
            $("#org").jOrgChart(
                { chartElement: "#chart" }
                );
        });
    </script>
}

@{
    ViewBag.Title = "Audit";
}<div class="row">
    <div class="col-lg-12">
        <h1>@Model.IdCode Audit</h1>
        <div id="legand">
	        <span style="font-size:48px; color:#5CB85C;">■</span><span style="font-size:30px">Standard &nbsp;&nbsp;&nbsp;</span>
	        <span style="font-size:48px; color:#EED3D7;">■</span><span style="font-size:30px">Reagent &nbsp;&nbsp;&nbsp;</span>
	        <span style="font-size:48px; color:#B94A48;">■</span><span style="font-size:30px">Intermediate Standard &nbsp;&nbsp;&nbsp;</span>
	        <span style="font-size:48px; color:#428BCA;">■</span><span style="font-size:30px">Working Standard &nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
</div>
<ul id="org" style="display:none;">
    @CreateTree(Model)
</ul>

<div id="chemical-map-container" class="text-center">
    <div id="chart" class="orgChart">

    </div>
</div>

@helper CreateTree(TMNT.Models.ViewModels.AuditViewModel auditList) {
    <li class="@auditList.ChemType">
        <a href="/@auditList.ChemType/Details/@auditList.Id">
            @auditList.ChemType <br />
            @auditList.IdCode <br />
            @auditList.Name        
        </a>

        @if (auditList.Parents.Count > 0)
        {
            <ul>
                @foreach (TMNT.Models.ViewModels.AuditViewModel item in auditList.Parents)
                {

                    @CreateTree(item)

                }
            </ul>
        }
    </li>
}