@model TMNT.Models.ViewModels.AuditViewModel

@section AddToHead {
    <link href="~/Content/jquery.jOrgChart.css" rel="stylesheet" />
    <style>
        #chemical-map-container {
            padding:40px;
        }

        .jOrgChart .node {
            color:#fff;
            width: 250px;
            min-height: 125px;
        }

        .jOrgChart > table {
            margin:0 auto;
        }
    </style>
}

@section scripts {
    <script>
        $(function () {
            $("#org").jOrgChart(
                { chartElement: "#chart" }
                );
        });
    </script>
}

@{
    ViewBag.Title = "Audit";
}


<ul id="org" style="display:none;">
    @CreateTree(Model)
</ul>

<div id="chemical-map-container" class="text-center">
    <div id="chart" class="orgChart">

    </div>
</div>

@helper CreateTree(TMNT.Models.ViewModels.AuditViewModel auditList) {
    <li class="@auditList.ChemType">
        <a href="@auditList.ChemType/Details/@auditList.Id">@auditList.IdCode</a>

        @if (auditList.Parents.Count > 0)
        {
            <ul>
                @foreach (TMNT.Models.ViewModels.AuditViewModel item in auditList.Parents)
                {

                    @CreateTree(item)

                }
            </ul>
        }
    </li>
}