@model TMNT.Models.DeviceTest

@{
    ViewBag.Title = "Create";
}

<style>
    #page-wrapper {
        min-height: 900px;
    }

    input[type=text] {
        width: 100%;
        border-radius: 0 !important;
    }

    button {
        width: 33%;
        color: #fff !important;
        border-radius: 0 !important;
        background-color: #428BCA !important;
        float: right;
    }

    .next-section {
        float: right;
        bottom: 0;
    }

    .previous-section {
        float: left;
        bottom: 0;
    }
</style>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    New Syringe Calibration Test
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> New Syringe Test
                    </li>
                </ol>
            </div>
        </div>

        <section id="section-bar">
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li><a href="#section-bar-1" class="icon icon-config"><span>Test Info</span></a></li>
                        <li><a href="#section-bar-3" class="icon icon-display"><span>Finalize</span></a></li>
                        <li><a href="#section-bar-4" id="section-confirmation" style="pointer-events: none;" class="icon icon-coffee"><span>Confirmation</span></a></li>
                    </ul>
                </nav>
                @Html.ValidationSummary(true)
                <div class="content-wrap">
                    <section id="section-bar-1">
                        <div class="form-group">
                            <div class="col-lg-3 col-lg-offset-9">
                                <input value="2015-04-13" type="text" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3">
                                <input class="form-control" type="text" placeholder="Syringe ID" style="margin-bottom:15px;" />
                                <input class="form-control" type="text" placeholder="Location" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">
                                <input class="form-control" type="text" placeholder="Volume One" />
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" type="text" placeholder="Volume Two" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <textarea placeholder="Comments" rows="6" cols="50" style="resize:none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href='#section-bar-2' class="btn btn-default next-section">Next »</a>
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-2">
                        <div class="form-group">
                            <div style="text-align:center;" class="page-header">
                                <h2>Are You Sure?</h2>
                            </div>
                            <div class="col-md-offset-1 col-md-10">
                                <a href='#section-bar-2' class="btn btn-default previous-section">&#x2717; No, Go Back</a>
                                <a href='#section-bar-3' class="btn btn-default next-section">&#x2713; Yes, Create Record</a>
                                @*<input style="margin-left:8%;" type="submit" value="&#x2713; Yes, Create Record" class="btn btn-default icon-home" />*@
                            </div>
                        </div>
                    </section>
                    <section id="section-bar-3">
                        <div class="form-group" style="text-align:center;">
                            <div style="padding-bottom:20px;">Summary</div>
                            <div>Summary of Data would go here..</div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-md-10">
                                @Html.ActionLink("Dashboard", "Index", new { @controller = "Home" }, new { @class = "btn btn-default col-md-offset-2" })
                                @*<a style="margin-right:15px;" href='#section-bar-1' class="btn btn-default">Dashboard</a>*@
                                @Html.ActionLink("New Syringe Test", "Create", new { @controller = "SyringeTest" }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        @Html.Partial("~/Views/Shared/_SectionsPartial.cshtml")
    </div>

}