@model IEnumerable<TMNT.Models.DeviceTest>

    @{
        ViewBag.Title = "Index";
    }

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Balances
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-flask"></i> Balances
                </li>
            </ol>
        </div>
    </div>

    <p>
        @Html.ActionLink("New Balance Verification", "Create", "ScaleTest", htmlAttributes: new { @class = "btn btn-default" })
    </p>

    <hr />

    <table class="table">
        <tr>
            <th></th>
        </tr>

        @*@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DeviceTestId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DeviceTestId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DeviceTestId })
                </td>
            </tr>
        }*@

    </table>