@model TMNT.Models.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Maxxam - Dashboard";
}

@section AddToHead {
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
    <style type="text/css">
        #header {
            position: relative;
            width: 900px;
            margin: auto;
        }

            #header h2 {
                margin-left: 10px;
                vertical-align: middle;
                font-size: 42px;
                font-weight: bold;
                text-decoration: none;
                color: #000;
            }

        #content {
            /*margin: 0 auto;*/
            /*padding: 10px;*/
            height: 100%;
            overflow: hidden;
        }

        #footer {
            margin-top: 25px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 12px;
            color: #999;
        }

        .demo-container {
            box-sizing: border-box;
            width: 650px;
            height: 450px;
            /*padding: 20px 15px 15px 15px;*/
            margin: 15px auto 30px -65px;
            background: #fff;
        }

        .demo-placeholder {
            width: 100%;
            height: 100%;
            font-size: 14px;
            line-height: 1.2em;
        }

        .legend table {
            border-spacing: 5px;
        }

        .match-parent-height {
            height: 100%;
        }
    </style>
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1>
            Dashboard <small>Welcome!</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.CertificatesCount</div>
                        <div>Certificates of Analysis</div>
                    </div>
                </div>
            </div>
            <a href='@Url.Action("Index", "InventoryItem")'>
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.ExpiringItemsCount</div>
                        <div>Expiring Items</div>
                    </div>
                </div>
            </div>
            <a href='@Url.Action("Index", "InventoryItem")'>
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-forward fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.PendingVerificationCount</div>
                        <div>Pending Device Verifications</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Balance")">
                <div class="panel-footer">
                    <span class="pull-left">View Pending Balance Verifications</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Pending Volume Verifications</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-8" style="min-height:615px;">
        <div class="panel panel-primary match-parent-height">
            <div class="panel-heading">
                <h3 class="panel-title">Expired Stock in @Model.Department</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Item Type</th>
                                <th>Created By</th>
                                <th>Supplier</th>
                                <th>Date Expired</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ExpiredItems) {
                                <tr>
                                    <td>
                                        @item.Type
                                    </td>
                                    <td>
                                        @item.CreatedBy
                                    </td>
                                    <td>
                                        @item.SupplierName
                                    </td>
                                    <td>
                                        @item.ExpiryDate.ToString().Split(' ')[0]
                                    </td>
                                    <td>
                                        <a href="#">
                                            <div class="">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Item Type</th>
                                <th>Created By</th>
                                <th>Supplier</th>
                                <th>Date Expired</th>
                                <th>Details</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4" style="height:603px;">
        <div class="panel panel-red match-parent-height">
            <div class="panel-heading">
                <h3 class="panel-title">Expired Stock By Departments at @Model.LocationName</h3>
            </div>
            <div id="content">
                <div class="demo-container">
                    <div id="placeholder" class="demo-placeholder"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
@Scripts.Render("~/datatables")
<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.pie.js"></script>
<script>
    $(function () {
        var data = [
                { label: "Organics", data: 8 },
                { label: "Inorganics", data: 3 },
                { label: "Metals", data: 1 }
        ], series = data.length;

        //for (var i = 0; i < series; i++) {
        //    data[i] = {
        //        label: "Series" + (i + 1),
        //        data: Math.floor(Math.random() * 100) + 1
        //    }
        //}



        var placeholder = $("#placeholder");

        placeholder.unbind();

        $.plot(placeholder, data, {
            series: {
                pie: {
                    show: true,
                    radius: 3 / 4,
                    label: {
                        show: true,
                        radius: 3 / 4,
                        formatter: labelFormatter,
                        background: {
                            opacity: 0.5,
                            color: "#000"
                        }
                    }
                }
            },
            legend: {
                show: false
            }
        });

        setCode([
            "$.plot('#placeholder', data, {",
            "    series: {",
            "        pie: {",
            "            show: true,",
            "            radius: 3/4,",
            "            label: {",
            "                show: true,",
            "                radius: 3/4,",
            "                formatter: labelFormatter,",
            "                background: {",
            "                    opacity: 0.5,",
            "                    color: '#000'",
            "                }",
            "            }",
            "        }",
            "    },",
            "    legend: {",
            "        show: false",
            "    }",
            "});"
        ]);
    });

    function labelFormatter(label, series) {
        return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
    }

    function setCode(lines) {
        $("#code").text(lines.join("\n"));
    }
</script>