@model TMNT.Models.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Maxxam - Dashboard";
}

@section AddToHead {
    <link href="~/Content/dataTables.min.css" rel="stylesheet" />
    <style type="text/css">
        #header {
            position: relative;
            width: 900px;
            margin: auto;
        }

            #header h2 {
                margin-left: 10px;
                vertical-align: middle;
                font-size: 42px;
                font-weight: bold;
                text-decoration: none;
                color: #000;
            }

        #content {
            height: 100%;
            overflow: hidden;
        }

        #footer {
            margin-top: 25px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 12px;
            color: #999;
        }

        .demo-container {
            box-sizing: border-box;
            width: 650px;
            height: 450px;
            margin: 15px auto 30px -65px;
            background: #fff;
        }

        .demo-placeholder {
            width: 100%;
            height: 100%;
            font-size: 14px;
            line-height: 1.2em;
        }

        .legend table {
            border-spacing: 5px;
        }

        .match-parent-height {
            height: 100%;
        }

        .info-box .department-text {
            font-style:italic;
            font-family:-webkit-pictograph;
            display: block;
            height: 45px;
            max-width: 400px;
            text-align: center;
            float: left;
            color: rgba(255, 255, 255, 0.65);
        }

        #department {
            padding-left:10px;
            font-size: 32px;
        }

        #subdepartment {
            margin-right: 20px;
            padding-right: 20px;
            padding-top:7px;
            padding-left:10px;
            font-size:24px;
            border-right: 2px solid rgba(255, 255, 255, 0.5);
        }

        .info-box {
            margin-top:20px;
            height: 55px;
            margin-bottom: 20px;
            padding: 5px;
            color: white;
        }

        .panel {
            border-radius:0;
        }

        .panel-heading {
            border-radius:0;
        }

        .breadcrumb {
            border-radius:0;
        }

        .dashboard-heading {
            background: #b94a48;
        }

        #welcome {
            font-size:22px;
            padding-top:8px;
        }

        @@media screen and (max-width:767px) {
            .info-box {
                height:110px;
                text-align:center;
            }

            #subdepartment {
                border:none;
            }

            #mobile-text-center span {
                height:50px;
                margin-left:auto;
                margin-right:auto;
            }
        }

        .patch-date {
            font-size:18px;
            font-weight:bold;
        }
    </style>
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <div class="info-box dashboard-heading">
            <div id="mobile-text-center">
                <span class="department-text" id="department">@Html.DisplayFor(model => model.DepartmentName)</span>
                <span class="department-text" id="subdepartment">@Html.DisplayFor(model => model.SubDepartment)</span>
            </div>
            <div id="welcome">
                Welcome, @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- Community message for all testers -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default no-border-radius no-border">
            <div class="panel-heading no-border-radius">
                <h4>Welcome to the 2nd UAT! In this UAT you will be able to use Intermediate Standards. You will also be able to test out the new features found in purchased
                Stock Standards and Stock Reagents. Have fun in the sandbox!</h4>
            </div>
        </div>
        <div class="panel-group" style="padding-bottom:20px;">
            <div class="panel panel-primary no-border-radius" style="max-height:300px;overflow-y:auto;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Patch Notes - Click Here to View and Hide</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul style="list-style:none">
                            <li class="patch-date">November 12th</li>
                            <li>Stock Standard</li>
                            <li>
                                <ul>
                                    <li>Concentration Units have been updated to Maxxam's request</li>
                                </ul>
                            </li>
                            <li>Intermediate Standard</li>
                            <li>
                                <ul>
                                    <li>Concentration Units have been updated to Maxxam's request</li>
                                </ul>
                            </li>
                            <li class="patch-date">November 11th</li>
                            <li class="fa fa-star fa-3x">Balances</li>
                            <li>
                                <ul>
                                    <li>Balances now available in the system! You can:</li>
                                    <li>&ensp; → Add a new balance</li>
                                    <li>&ensp; → Verify a balance</li>
                                    <li>&ensp; → Archive a balance</li>
                                    <li>&ensp; → Use a balance once verified for creating an item (Reagent, Standard, Intermediate Standard)</li>
                                </ul>
                            </li>
                            <li class="patch-date">November 7th</li>
                            <li>Stock Standard</li>
                            <li>
                                <ul>
                                    <li>"Other" Unit now prompts a new field to explain what "Other" is</li>
                                </ul>
                            </li>
                            <li>Stock Reagent</li>
                            <li>
                                <ul>
                                    <li>"Other" Unit now prompts a new field to explain what "Other" is</li>
                                </ul>
                            </li>
                            <li>Miscellaneous Changes</li>
                            <li>
                                <ul>
                                    <li>Made an attempt to fix a weird bug that occassionally creeped up on the dashboard after a login (this may not be fixed, but is being monitored)</li>
                                    <li>Fixed a bug where attempting to view the Details of a Reagent broke the project</li>
                                </ul>
                            </li>
                            <li class="patch-date">November 5th</li>
                            <li>Intermediate Standard</li>
                            <li>
                                <ul>
                                    <li>Appears to be working now</li>
                                    <li>Changed the selection of items from "LotNumber" to "ID Code" (note the prep list table will still show the lot number)</li>
                                </ul>
                            </li>
                            <li>Stock Standard</li>
                            <li>
                                <ul>
                                    <li>"Date Received" can now only have a date for current day, or any day previous</li>
                                </ul>
                            </li>
                            <li>Stock Reagent</li>
                            <li>
                                <ul>
                                    <li>"Grades" has two new options: "Trace Metal" and "Optimal"</li>
                                    <li>"Date Received" can now only have a date for current day, or any day previous</li>
                                </ul>
                            </li>
                            <li>Feedback/Ideas</li>
                            <li>
                                <ul>
                                    <li>URLs (links) have been fixed and should now work</li>
                                </ul>
                            </li>
                            <li>Miscellaneous Changes</li>
                            <li>
                                <ul>
                                    <li>Location code has been changed; Burnaby is now "BB" instead of "BBY"</li>
                                    <li>Identified and fixed a bug where the "Certificate of Analysis" counter on the Dashboard was including Prepared items</li>
                                </ul>
                            </li>

                            <li class="patch-date">November 1st</li>
                            <li>Intermediate Standard</li>
                            <li>
                                <ul>
                                    <li>Maxxam ID is now auto-generated, but we're not sure hot to make it look (it doesn't look good right now)</li>
                                    <li>Removed "SDS" from the form</li>
                                    <li>"Expiry Date" field now has "Number of Days" to set the expiry date in the future</li>
                                    <li>You can see Lot Numbers or Maxxam ID's of items that are expired, but they can no longer be selected for use</li>
                                </ul>
                            </li>
                            <li>Stock Standard</li>
                            <li>
                                <ul>
                                    <li>Removed "Solvent Supplier" field</li>
                                    <li>"Supplier Name" field renamed to "Supplier"</li>
                                </ul>
                            </li>
                            <li>Stock Reagent</li>
                            <li>
                                <ul>
                                    <li>"Expiry Date" field now has "Number of Days" to set the expiry date in the future</li>
                                    <li>"Supplier Name" field renamed to "Supplier"</li>
                                </ul>
                            </li>
                            <li class="patch-date">October 27th</li>
                            <li>Stock Standard</li>
                            <li>
                                <ul>
                                    <li>New field for "Date Received"</li>
                                    <li>Date Inputs have had the interface for the input overhauled</li>
                                    <li>New field for "Initial Amount" along with a Units picklist</li>
                                    <li>New field for "Concentration" along with Units picklist</li>
                                    <li>"Date Created" has been replaced with "Catalogue Code" on the Index page</li>
                                    <li>N/A is now a possible value for the Purity field</li>
                                    <li>Details page now displays the "Purity" field</li>
                                    <li>After an edit, user is now redirected to the Details page of the item updated instead of the Index page</li>
                                </ul>
                            </li>
                            <li>Stock Reagent</li>
                            <li>
                                <ul>
                                    <li>New field for "Date Received"</li>
                                    <li>Date Inputs have had the interface for the input overhauled</li>
                                    <li>New field for "Initial Amount" along with a Units picklist</li>
                                    <li>"Date Created" has been replaced with "Catalogue Code" on the Index page</li>
                                    <li>After an edit, user is now redirected to the Details page of the item updated instead of the Index page</li>
                                </ul>
                            </li>
                            <li>Miscellaneous Changes</li>
                            <li>
                                <ul>
                                    <li>Catalogue Code now uppercase</li>
                                    <li>User session increased to 60 minutes, up from 20 minutes</li>
                                    <li>Quality Assurance can now create items with a new Catalogue Code</li>
                                    <li>ID Code has had its structure changed to: LocationCodeFirst3Chars/IncrementedNumber/LotNumber/NumberOfBottles</li>
                                    <li>Numerous uprgades to the User Registration form for the administrator</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.CertificatesCount</div>
                        <div>Certificates of Analysis</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.ExpiringItemsCount</div>
                        <div>Expiring Items (Within 30 Days)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-forward fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.PendingVerificationCount</div>
                        <div>Pending Device Verifications</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12" style="min-height:615px;">
        <div class="panel panel-default match-parent-height">
            <div class="panel-heading">
                @if (Model.DepartmentName.Equals("Quality Assurance")) {
                    <h3 class="panel-title">Expired Stock in Maxxam</h3>
                } else {
                    <h3 class="panel-title">Expired Stock in @Model.DepartmentName</h3>
                }
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="home-data-table" class="table table-bordered table-striped table-home">
                        <thead>
                            <tr>
                                <th>Item Type</th>
                                <th>Date Expired</th>
                                <th>Supplier</th>
                                <th>ID Code</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ExpiredItems) {
                                <tr>
                                    <td>
                                        @item.Type
                                    </td>
                                    <td>
                                        @item.ExpiryDate.ToString().Split(' ')[0]
                                    </td>
                                    <td>
                                        @item.SupplierName
                                    </td>
                                    @if (@item.StockReagent != null) {
                                        <td>
                                            @item.StockReagent.IdCode
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "Reagent", new { id = item.StockReagent.ReagentId })">
                                                <div>
                                                    <span class="pull-left">View Details</span>
                                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                        </td>
                                    } else if (@item.StockStandard != null) {
                                        <td>
                                            @item.StockStandard.IdCode
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "Standard", new { id = item.StockStandard.StockStandardId })">
                                                <div>
                                                    <span class="pull-left">View Details</span>
                                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                        </td>
                                    } else if (@item.IntermediateStandard != null) {
                                        <td>
                                            @item.IntermediateStandard.IdCode
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "IntermediateStandard", new { id = item.IntermediateStandard.IntermediateStandardId })" >
                                                <div>
                                                    <span class="pull-left">View Details</span>
                                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Item Type</th>
                                <th>Date Expired</th>
                                <th>Supplier</th>
                                <th>ID Code</th>
                                <th>Details</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/datatables")