@model TMNT.Models.WorkingStandard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkingStandard</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreparationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkingStandardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
